.project
.classpath
target
.settings
.DS_Store
.DS_Store
*.svn*
.svn
*.iml
.idea
bak
logs
*.log
*/log4j.xml
*/generatorConfig.xml
build

node_modules
.build
.minify
.compile
.build
longdai-p2p.ipr
longdai-p2p.iws


*.idea/*

/node_modules
/dist /build
/.tmp
/.sass-cache
/bower_components

/assets
/.sass-cache
./npm-debug.log

/longdai-service/src/main/resources/generatorConfig.xml
package-lock.json
dist
yarn.lock
/dist
