body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    margin: 0;
    background-color: #f3f3f3;
    font-size: 14px;
    max-width: 750px;
    color: #333;
    margin: 0 auto;
}
a,img,button,input,textarea,div,span{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
a,a:visited,a:focus,a:active,a:hover{
    text-decoration: none;
}
.clearfloat:after{
    display:block;
    clear:both;
    content:".";
    visibility:hidden;
    height:0;
}
.clearfloat{
    zoom:1;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}

.rel-data-header{
    width: 100%;
    background-color: #fff;
    padding: 25px 0;
}
.rel-data-name{
    display: block;
    width: 60%;
    max-width: 320px;
    margin: 0 auto;
}
.rel-data-name-icon{
    display: block;
    width: 100%;
    margin-left: 10px;
}
.rel-data-time{
    color: #999;
    text-align: center;
    padding: 5px 0 15px;
    border-bottom: 1px solid #f0f0f0;
}
.rel-data-svg{
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
}
.rel-data-header-con{
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 16px;
    color: #333;
}
.rel-data-header-li{
    width: 54%;
    text-align: center;
    margin-bottom: 20px;
}
.rel-data-top-name{
    text-align: center;
    font-size: 16px;
    color: #333;
    position: relative;
    top:32px;
}
.rel-data-icon{
    display: inline-block;
    width: 15px;
}
.rel-data-header-icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../../images/report/realTimeData/chengjiao.png');
    background-size: contain;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.rel-data-header-icon.icon1{
    background-image: url('../../images/report/realTimeData/jiaquan.png');
}
.rel-data-header-icon.icon2{
    background-image: url('../../images/report/realTimeData/shouyi.png');
}
.rel-data-header-icon.icon3{
    background-image: url('../../images/report/realTimeData/futou.png');
}
.rel-data-header-li-top{
    width: 140px;
    margin: 0 auto 10px;
    line-height: 20px;
}
.rel-data-main{
    width: 100%;
}
.rel-data-title{
    padding:10px 0;
    background-color: #fff;
    margin: 10px 0;
}
.rel-data-title.show{
    background-color: transparent;
}
.rel-data-title .arrow-down{
    display: inline-block;
}
.rel-data-title .arrow-up{
    display: none;
}
.rel-data-title.show .arrow-down{
    display: none;
}
.rel-data-title.show .arrow-up{
    display: inline-block;
}
.rel-data-title.show .rel-data-title-icon{
    display: none;
}

.rel-data-title-name{
    display: inline-block;
    border-left: 6px solid #f56461;
    padding-left: 8px;
    height: 18px;
    line-height: 20px;
    font-size: 17px;
    margin-top: 5px;
}
.rel-data-title-icon{
    display: inline-block;
    width: 26px;
    margin: 0 20px;
}
.rel-data-con{
}
.rel-data-con-header{
    padding: 20px 0 0;
    border-bottom: 1px solid #f0f0f0;
}
.rel-data-con-li{
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}
.rel-data-userInfo-icon{
    width: 40px;
    height: 40px;
    background-image: url("../../images/report/realTimeData/yonghu_1.png");
    background-size: contain;
    margin: 0 auto;
}
.rel-data-userInfo-icon.icon2{
    background-image: url("../../images/report/realTimeData/yonghu_2.png");
}
.rel-data-userInfo-icon.icon3{
    background-image: url("../../images/report/realTimeData/yonghu_3.png");
}
.rel-data-userInfo-icon.icon4{
    background-image: url("../../images/report/realTimeData/yonghu_4.png");
}
.rel-data-userInfo-icon.icon5{
    background-image: url("../../images/report/realTimeData/yonghu_5.png");
}
.rel-data-userInfo-icon.icon6{
    background-image: url("../../images/report/realTimeData/yonghu_6.png");
}
.rel-data-con-li-info{
    font-size: 16px;
    margin-top: 5px;
    line-height: 30px;
}
.rel-data-bottom{
    margin-top: 10px;
}
.rel-data-bottom-l{
    width: 54%;
}
.rel-data-bottom-r{
    width: 43%;
    margin-left: 3%;
}
.rel-data-map{
    margin-top: 10px;
}
.stacked-list-icon{
    width: 22px;
    height: 50px;
    background-image: url("../../images/report/realTimeData/man.png");
}
.stacked-list-icon.icon2{
    background-image: url("../../images/report/realTimeData/woman.png");
}
.line {
    fill: none;
    stroke: #fce271;
    stroke-width: 1.5px;
}
.line-circle {
    fill: #fce271;
}
.fill-cfce271{
    fill: #fce271;

}
.rel-data-risk-header-li{
    width: 50%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}
.rel-data-risk-header-name{
    margin-bottom: 10px;
}
.rel-data-table{
    margin-top: 10px;
    line-height: 30px;
    padding: 15px 30px;
}
.rel-data-table-header{
    width: 260px;
    margin: 0 auto;
}
.rel-data-table-tr{
    width: 260px;
    margin: 0 auto;

    color: #666;
}
.rel-data-table-tb{
    width: 130px;
    text-align: center;
    font-size: 13px;
}
.rel-data-table-tb-index{
    display: inline-block;
    width: 60px;
    text-align: right;
    position: relative;
}
.rel-data-table-tb-index-icon{
    display: inline-block;
    width: 16px;
    position: absolute;
    right: 31px;
    top: 6px;
}
.rel-data-table-tb-name{
    display: inline-block;
    width: 40px;
    text-align: left;
    margin-left: 10px;
}
.rel-data-passed-li{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.rel-data-passed-image{
    display: block;
    width: 100%;
}

.total-turnover-title{
    width: 50%;
    height: 80px;
    padding-top: 10px;
    line-height: 30px;
    border-left:4px solid #fd6f6c;
    background-color: #feefef;
    text-align: center;
    color:#333;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.total-turnover-title.title2{
    border-left:4px solid #7ce2c7;
    background-color: #f2fcf9;
}
.total-turnover-num{
    text-align: center;
    color:#fd6f6c;
    font-family: Helvetica;
}
.total-turnover-num.num2{
    color:#7ce2c7;
}

.rel-data-map-con{
    padding: 20px 0;
    margin-top: 10px;
}
.china-map{
    position: relative;
    width: 320px;
    height: 230px;
    margin: 0 auto;
    overflow: hidden;
}
.china-map-svg{
    width: 320px;
    height: 230px;
    margin: 0 auto;
}
.china-southsea{
    stroke: #feefef;
    stroke-width: 2px;
    fill: #feefef;
}
.china-map-southsea{
    width: 45px;
    height: 60px;
    position: absolute;
    right: 25px;
    bottom: 0px;
}
.china-map-legend{
    width: 100%;
}
.china-map-title{
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.china-map-legend-index{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    line-height: 20px;
    text-align: center;
    border-radius: 14px;
    letter-spacing: 0;
    color: #fff;
    background-color: #ac96bf;
}
.china-map-legend-index.index1{
    background-color: #fd7573;
}
.china-map-legend-index.index2{
    background-color: #fcd77d;
}
.china-map-legend-index.index3{
    background-color: #81e3c9;
}
.china-map-legend-index.index4{
    background-color: #79c0f0;
}

.china-map-legend-li{
    width: 40%;
    padding-left: 9%;
    margin-bottom: 30px;
    color: #666;
}
.rel-data-li.show .rel-data-con{
    display: block;
}
.rel-data-li .rel-data-con{
    display: none;
}

.c-999{
    color: #999;
}
.fz13{
    font-size: 13px;
}


.w460{
    width: 460px;
}
.w390{
    width: 390px;
}
.mb40{
    margin-bottom: 40px;
}
.c-fc7573{
    color: #fc7573;
}
.c-ffb64e{
    color: #ffb64e;
}
.bg-fff{
    background-color: #fff;
}
.axis path, .axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}
.hide-path path {
    display: none;
}
.minor line {
    stroke: #e4e4e4;
    stroke-dasharray: 6,3;
}
.fill-e4e4e4 text {
    fill: #e4e4e4;
}


.fill-c333 text {
    fill: #333;
}
.c-999{
    color: #999;
}
.axis text {
    font: 14px sans-serif;
}
.d3-tip{
    width: 100px;
    line-height: 1;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    pointer-events:none;
    font-size: 12px;
}
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 17px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.6);
    content: "\25be";
    position: absolute;
    text-align: center;
}
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 76.5%;
    left: 0;
}
.triangle{
    opacity: 0.8;
}

.cir-tip{
    line-height: 1;
    font-weight: bold;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    pointer-events:none;
}
.hide{
    display: none;
}
.mb30{
    margin-bottom: 30px;
}
.mt20{
    margin-top: 20px;
}
.mt10{
    margin-top: 10px;
}
.mb20{
    margin-bottom: 20px;
}

.arrow-up{
    position: relative;
}
.arrow-up:after, .arrow-up:before {
    border: 8px solid transparent;
    border-bottom: 8px solid #f3f3f3;
    width: 0;
    height: 0;
    position: absolute;
    top: 3px;
    right: 20px;
    content: ' '
}

.arrow-up:before {
    border-bottom-color: #b5b5b5;
    top: 2px;
}
.arrow-down{
    position: relative;
}
.arrow-down:after, .arrow-down:before {
    border: 8px solid transparent;
    border-top: 8px solid #fff;
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    right: 20px;
    content: ' '
}

.arrow-down:before {
    border-top-color: #b5b5b5;
    top: 11px;
}
.t-c{
    text-align: center;
}
.c-7794d4{
    color: #7794d4;
}


.rel-data-tip{
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.rel-data-tip-arrow{
    display: inline-block;
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.tip-arrow2{
    top:54px;
}
.tip-arrow3{
    top:111px;
}
.tip-arrow4{
    top:148px;
}
.fz14{
    font-size: 14px;
}
.t-l{
    text-align: left;
}
.pdt0{
    padding-top: 0;
}
.w45{
    width: 45%;
}
.w100{
    width: 100%;
}
.width100px{
    width: 100px;
}
.fz14{
    font-size: 14px;
}
.project-overview{
    padding-top: 30px;
}
.mb12{
    margin-bottom: 12px;
}
.mb10{
    margin-bottom: 10px;
}
.pd0{
    padding: 0;
}