*{
    margin: 0;
    padding: 0;
}
body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    font-size: 14px;
    max-width: 750px;
    color: #666;
    font-weight: normal;
    margin: 0 auto;
    background-color: #eee;
}
a,a:hover,a:active{
    /*color: #666;*/
    text-decoration: none;
    -webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
a,img,button,input,textarea,span,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-border:none;
    -moz-border:none;
    -ms-border:none;
    -o-border:none;
    border:none;
    text-decoration: none;
}

input:focus{
    -webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
.clearfloat:after{
    display:block;
    clear:both;
    content:".";
    visibility:hidden;
    height:0;
}
.clearfloat{
    zoom:1;
}
.f-l{
    float: left;
    display: inline;
}
.f-r{
    float:right;
    display: inline;
}
.hide{
    display: none;
}
.font16{
    font-size: 16px;
}
.longcoin-store{

}
.longcoin-store-unlogin{
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0 5px 10px rgba(182,182,182,.3);
    -moz-box-shadow: 0 5px 10px rgba(182,182,182,.3);
    box-shadow: 0 5px 10px rgba(182,182,182,.3);
}
.longcoin-store-unlogin-bg{
    display: block;
    width: 100%;
}
.longcoin-store-unlogin-con{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 0;
    color: #561e19;
    line-height: 22px;
}
.longcoin-store-login{
    text-align: center;
    line-height: 30px;
    color: #666;
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}
.longcoin-store-newer{
    position: relative;
}
.longcoin-store-status{
    margin-left: 5px;
}
.longcoin-status-poniter{
    display: inline-block;
    position: relative;
    top: -10px;
    right: 3px;
    width: 6px;
    height: 6px;
    background-color: #f75619;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
}
.longcoin-store-amount{
    font-size: 20px;
    font-family: Helvetica;
    color: #f75619;
}
.longcoin-store-title{
    height: 44px;
    line-height: 44px;
    color: #561e19;
    padding-left: 15px;
    font-size: 16px;
    background-color: #fff;
}
.longcoin-store-products{
    padding: 5px;
}
.longcoin-store-products-li{
    cursor: pointer;
    width: 50%;
}
.longcoin-store-products-con{
    margin: 5px;
    padding: 5px;
    background-color: #fff;
}
.longcoin-store-products-icon{
    position: relative;
    padding-bottom: 10px;
}
.longcoin-store-products-icon.icon-tixian .longcoin-store-products-amount{
    color: #6aad29;
}
.longcoin-store-products-icon.icon-tixian .longcoin-store-products-name{
    color: #799258;
}
.longcoin-store-products-icon.icon-jiaxi .longcoin-store-products-amount{
    color: #ff724c;
}
.longcoin-store-products-icon.icon-jiaxi .longcoin-store-products-name{
    color: #6d3936;
}
.longcoin-store-products-icon.icon-redbag .longcoin-store-products-amount{
    color: #9a4034;
}
.longcoin-store-products-icon.icon-redbag .longcoin-store-products-name{
    color: #c64949;
}
.longcoin-store-products-amount{
    width: 100%;
    text-align: center;
    position: absolute;
    top:20%;
    font-size: 25px;
    font-family: Helvetica;
}
.longcoin-store-products-name{
    width: 100%;
    text-align: center;
    position: absolute;
    top:60%;
}
.longcoin-store-products-image{
    display: block;
    width: 100%;
}
.longcoin-store-products-info{
    height: 35px;
    line-height: 35px;
    color: #999;
    border-top: 1px solid #eee;
}
.price-red{
    color: #f75619;
}
.c-5a6d9f{
    color: #5a6d9f;
}
.fz18{
    font-size: 18px;
}
.fz16{
    font-size: 16px;
}
.fz12{
    font-size: 12px;
}
.pdr5{
    padding-right: 5px;
}
.pdl5{
    padding-left: 5px;
}
.helvetica{
    font-family: Helvetica;
}