*{
    margin: 0;
    padding: 0;
}
body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    font-size: 14px;
    max-width: 750px;
    color: #666;
    font-weight: normal;
    margin: 0 auto;
    background-color: #fff;
}
a,a:hover,a:active{
    color: #666;
    text-decoration: none;
    -webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
a,img,button,input,textarea,span,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-border:none;
    -moz-border:none;
    -ms-border:none;
    -o-border:none;
    border:none;
    text-decoration: none;
}

input:focus{
    -webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
.clearfloat:after{
    display:block;
    clear:both;
    content:".";
    visibility:hidden;
    height:0;
}
.clearfloat{
    zoom:1;
}
.f-l{
    float: left;
    display: inline;
}
.f-r{
    float:right;
    display: inline;
}
.longcoin-rules{
    padding: 0 20px 40px;
    line-height: 22px;
}
.longcoin-rules-title{
    height: 30px;
    line-height: 30px;
    color: #333;
    border-bottom: 1px solid #b5b5b5;
    margin: 15px 0;
}
.longcoin-rules-how{
    width: 280px;
    padding-bottom: 10px;
    margin: 0 auto;
}
.longcoin-rules-how-l{
    width: 52px;
}
.longcoin-rules-icon{
    display: block;
    width: 100%;
}
.longcoin-rules-how-r{
    width: 210px;
    margin: 15px 0 0 15px;
}
.longcoin-rules-use{
    display: block;
    width: 100%;
}
.longcoin-rules-ul{
    list-style-type: decimal;
    padding-left: 20px;
}
.mt8{
    margin-top: 8px;
}