/*样式重置*/
body{
    padding:0;
    margin:0;
    font-size:14px;
    color:#333;
    background-color: rgb(245,242,242);
}
h1{
    padding:0;
    font-size:28px;
    margin:21px 0;
}
.text-center{
    text-align: center;
}



/*页面效果*/
header,section{
    width:70%;
    margin:0 auto;
}
section{
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.img-box{
    flex-basis:209px;
    -webkit-flex-basis: 209px;
    height:329px;
    background-color: rgb(255,255,255);
    border:1px solid rgb(206,201,201);
    margin-top:20px;
}
.img{
    width:80%;
    height:70%;
    margin-top:20px;
}

/*index*/
#imgLaod{
    width: 90%;
    position: relative;

}
.imgLoad-li{
    position: absolute;
    box-sizing: border-box;
    width:200px;
    background: #fff;
    padding:20px;
    margin-top:10px;
}
.imgLoad-li>img{
    width:100%;
    height:100%;
}
.imgLoad-li:hover{
  opacity: 0.6;
}


