body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    color: #fff;
    margin: 0;
    background-color: #f1f2f6;
    font-size: 14px;
    max-width: 750px;
    color: #47385a;
    margin: 0 auto;
    max-width: 750px;
}
*{
    margin: 0;
    padding: 0;
}
a,img,button,input,textarea,div,span{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
a,a:visited,a:focus,a:active,a:hover{
    text-decoration: none;
}
ul,li{
    list-style-type: none;
}
.clearfloat:after{
    display:block;
    clear:both;
    content:".";
    visibility:hidden;
    height:0;
}
.clearfloat{
    zoom:1;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}
.security-progress{
    width: 300px;
    height: 430px;
    margin: 40px auto 10px;
}
.security-progress-li{
    display: none;
    width: 80px;
    height: 63px;
    border: 1px solid #fb662e;
    color: #fb662e;
    text-align: center;
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
}
.security-progress-li.li1,.security-progress-li.li4,.security-progress-li.li7,.security-progress-li.li10{
    border: 1px solid #ef994e;
    color: #ef994e;
}
.security-progress-txt{
    display: none;
}
.security-progress-index{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #fb662e;
    border-radius: 12px;
    position: absolute;
    top: -10px;
    left: -1px;
    background-color: #fff;
}
.security-progress-icon{
    display: inline-block;
    width: 8px;
    height: 24px;
    background-image: url("../../images/security/icon-progress.png");
    background-repeat: no-repeat;
    background-position: -14px -2px;
    -webkit-background-size: auto 30px;
    -ms-background-size: auto 30px;
    background-size: auto 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.security-progress-icon.icon1{
    width: 8px;
    background-position: -14px -2px;
}
.security-progress-icon.icon2{
    width: 22px;
    background-position: -29px -2px;
}
.security-progress-icon.icon3{
    width: 18px;
    background-position: -58px -2px;
}
.security-progress-icon.icon4{
    width: 22px;
    background-position: -138px -2px;
}
.security-progress-icon.icon5{
    width: 20px;
    background-position: -115px -2px;
}
.security-progress-icon.icon6{
    width: 22px;
    background-position: -85px -2px;

}
.security-progress-icon.icon7{
    width: 18px;
    background-position: -164px -2px;
}
.security-progress-icon.icon8{
    width: 21px;
    background-position: -189px -2px;
}
.security-progress-icon.icon9{
    width: 21px;
    background-position: -216px -2px;
}
.security-progress-icon.icon10{
    width: 26px;
    background-position: -242px -2px;
}
.security-progress-icon.icon11{
    width: 21px;
    background-position: -278px -2px;
}
.security-progress-icon.icon12{
    width: 32px;
    background-position: -304px -2px;
}
.security-wen{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../../images/security/icon-progress.png");
    background-repeat: no-repeat;
    background-position: -339px -9px;
    -webkit-background-size: auto 30px;
    -ms-background-size: auto 30px;
    background-size: auto 30px;
    margin-left: 2px;
    position: absolute;
    right: 0;
    top: 2px;
}
.security-progress-line{
    display: none;
    width: 14px;
    height: 0;
    border-top: 2px dotted #c2c0c7;
    margin: 30px 5px;
}
.security-progress-line2{
    display: none;
    width: 0;
    height: 14px;
    border-left: 2px dotted #c2c0c7;
    margin: 0 0 15px 255px;
}
.security-banner{
    padding: 10px 0px;
    overflow: hidden;
}
.security-banner-li{
    width: 300px;
    margin: 0 auto;
    height: 160px;
    display: none;
}
.security-banner-li.active{
    display: block;
}
.security-banner-li-icon{
    display: inline-block;
    width: 95px;
    height: 80px;
    background-image: url("../../images/security/icon-list.png");
    background-repeat: no-repeat;
    background-position: 0 -83px;
    -webkit-background-size: 300px auto;
    -ms-background-size: 300px auto;
    background-size: 300px auto;
    margin-top: 34px;
}
.security-banner-li-icon.icon2{
    background-position: -100px -83px;

}
.security-banner-li-icon.icon3{
    background-position: -197px -83px;

}
.security-banner-li-icon.icon4{
    background-position: 0 -167px;

}
.security-banner-li-icon.icon5{
    background-position: -100px -167px;

}
.security-banner-li-icon.icon6{
    background-position: 0 0;

}
.security-banner-li-icon.icon7{
    background-position: -99px 0;

}
.security-banner-li-icon.icon8{
    background-position: -203px 0;

}
.security-banner-li-icon.icon9{
    background-position: 0 -252px;

}
.security-banner-li-icon.icon10{
    background-position: -100px -252px;

}
.security-banner-li-icon.icon11{
    background-position: -198px -252px;

}
.security-banner-li-icon.icon12{
    background-position: -199px -166px;

}
.security-banner-li-con{
    width: 180px;
    margin-left: 20px;
    color: #666;
}
.security-banner-li-con2{
    color: #47385a;
    width: 180px;
    margin-left: 20px;
    text-align: center;
    margin-top: 57px;
}
.security-banner-li-name{
    color: #47385a;
    font-size: 16px;
    padding-bottom: 5px;
}
.security-banner-point{
    text-align: center;
}
.security-banner-point-icon{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    border: 1px solid #c3c3c5;
    background-color: #e4e3ea;
}
.security-banner-point-icon.active{
    background-color: #c3c3c5;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}
@-webkit-keyframes fadeOutUpBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }
}

@keyframes fadeOutUpBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }
}

.fadeOutUpBig {
    -webkit-animation-name: fadeOutUpBig;
    animation-name: fadeOutUpBig;
}
.security-info{
    text-indent: 2em;
    padding: 20px;
}
.security-info-con{
    display: none;
    text-indent: 2em;
    padding: 0 20px 20px;
}
.security-info-li{
    background-color: #fff;
    margin-bottom: 10px;
}
.security-info-title{
    height: 60px;
    line-height: 60px;
}
.security-info-title-icon{
    display: inline-block;
    width: 23px;
    height: 30px;
    background-image: url("../../images/security/icon-title.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: auto 30px;
    -ms-background-size: auto 30px;
    background-size: auto 30px;
    margin: 15px 20px 0;
}
.security-info-title-icon.icon2{
    background-position: -29px 0;
}
.security-info-title-icon.icon3{
    width: 26px;
    background-position: -56px 0;
    margin-right: 17px;
}
.security-info-title-icon.icon4{
    width: 26px;
    background-position: -85px 0;
    margin-right: 17px;

}
.security-info-title-icon.icon5{
    width: 26px;
    background-position: -116px 0;
    margin-right: 17px;

}
.security-info-title-icon.icon6{
    width: 26px;
    background-position: -144px 0;
    margin-right: 17px;

}
.security-info-title-icon.icon7{
    background-position: -172px 0;

}
.security-info-title-icon.icon8{
    width: 20px;
    background-position: -215px 0;
    margin-right: 23px;

}
.security-info-title-icon.icon9{
    width: 16px;
    background-position: -196px 0;
    margin-right: 27px;

}
.security-info-arrow-icon{
    display: inline-block;
    width: 14px;
    height: 10px;
    background-image: url("../../images/security/icon-arrow.png");
    background-repeat: no-repeat;
    background-position: -47px -11px;
    -webkit-background-size: auto 30px;
    -ms-background-size: auto 30px;
    background-size: auto 30px;
    margin: 25px 20px 0;
}
.security-info-arrow-icon.icon2{
    display: none;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.security-info-li.active .security-info-arrow-icon.icon2{
    display: inline-block;
}
.security-info-li.active .security-info-arrow-icon.icon1{
    display: none;
}

.security-mask {
    display: none;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    max-width: 750px;
    overflow: hidden;
}
.security-dialog{
    padding: 20px;
    color: #fff;
}
.security-dialog-title,.security-dialog-bottom{
    text-align: center;
    padding: 20px 0 10px;
}
.security-dialog-con{
    text-indent: 2em;
    line-height: 24px;
}
.security-dialog-close{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../../images/security/icon-arrow.png");
    background-repeat: no-repeat;
    background-position: -110px -1px;
    -webkit-background-size: auto 40px;
    -ms-background-size: auto 40px;
    background-size: auto 40px;
}
.security-tips{
    font-size: 12px;
    text-align: center;
    padding: 0 20px 20px;
    color: #999;
}
.c-fe9470{
    color: #fe9470;
}
.bg-e4e3ea{
    background-color: #e4e3ea;
}
.relative{
    position: relative;
}
.ml40{
    margin-left: 40px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt40{
    margin-top: 40px;
}
.mt50{
    margin-top: 50px;
}
.w100{
    display: block;
    width: 100%;
}
.mb20{
    margin-bottom: 20px;
}