.user-infor{
    width: 100%;
    height: 140px;
    background: #4d4964;
    letter-spacing: normal;
    font-family: "Songti SC"
}
.user-infor-img{
    width: 83px;
    height: 83px;
    margin: 30px 20px 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.user-infor-text{
    width: 295px;
    padding-top: 30px;
    color: #fff;
}
.user-level{
    display: inline-block;
    position: relative;
    top: 3px;
    margin-left: 20px;
    z-index: 10;
    width: 50px;
    height: 18px;
    background-image: url("../images/core/icon1.png");
}
.level-1{
    background-position: 1px 1px;
}
.user-infor-bao{
    margin: 7px 0;
}
.user-infor-bao-count{
    margin: 0 15px 0 10px;
}
.user-infor-verify{
    width: 270px;
    padding-top: 38px;
    color: #fff;
}
.user-infor-verify-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../images/core/icon2.png');
    margin-right: 5px;
    position: relative;
}
.user-infor-verify-icon:hover:before{
    width: 60px;
    content: attr(data-notice);
    position: absolute;
    top: -30px;
    color: #c46d5a;
    line-height: 22px;
    font-size: 12px;
    padding: 0 4px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 11;
}
.user-infor-verify-icon.active:hover:after{
    content: '';
    position: absolute;
    top: -8px;
    left: 18px;
    z-index: 10;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.user-phone-active{
    background-position: -5px -63px;
}
.user-clock-active{
    background-position: -62px -63px;
}
.user-identity{
    background-position: -178px -5px;
}
.user-message{
    background-position: -121px -5px;
}
.user-card{
    background-position: -236px -5px;
}
.user-infor-withdraw{
    width: 134px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    margin-top: 53px;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.user-infor-recharge{
    width: 136px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    margin: 53px 14px 0 0;
    background-color: #047ff0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}