<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>测试标准页面</title>
    <link th:fragment="baseCss" type="text/css" rel="stylesheet" href="/v2/styles/index.css" />

</head>
<body>



    <div th:fragment="footer">



        <!--<script src="/v2/vendor/jquery-2.1.4.js" type="text/javascript"></script>-->
        <!--<script src="/v2/vendor/underscore.js" type="text/javascript"></script>-->
        <!--<script src="/vendor/backbone.js" type="text/javascript"></script>-->
        <!--<script src="/v2/vendor/juicer-min.js" type="text/javascript"></script>-->

        <!--<script src="/v2/scripts/core/core.js" type="text/javascript"></script>-->
        <!--<script src="/scripts/core/toptips.js" type="text/javascript"></script>-->
        <!--<script src="/scripts/core/selectBankCard.js" type="text/javascript"></script>-->
        <!--<script src="/scripts/core/ZeroClipboard.js" type="text/javascript"></script>-->
        <!--<script src="/scripts/core/share.js" type="text/javascript"></script>-->
        <!--<script src="/scripts/core/dialog.js" type="text/javascript"></script>-->
        <!--<script src="/scripts/core/page.js" type="text/javascript"></script>-->
        <!--<script src="/scripts/core/accounting.js" type="text/javascript"></script>-->
        <!--<script src="/scripts/core/regex.js" type="text/javascript"></script>-->
        <!--<script src="/scripts/core/topLogRegister.js" type="text/javascript"></script>-->




    </div>

</body>
</html>

