body{
    font-size:14px;
    font-family:'微软雅黑';
    color: rgb(99,99,99);
}
.t-r{
    text-align: right;   
}
.t-c{
    text-align: center;
}
.f-l{
    float: left;
    display: inline;
}
.f-r{
    float: right;
    display: inline;
}
.clearfloat:after{
    display:block;
    clear:both;
    content:".";
    visibility:hidden;
    height:0;
}
.clearfloat{
    zoom:1;
}
.m-c{
    margin:0 auto;
}
.t-c-red{
    color: rgb(250,53,20);
}
.longdai-header{
    width:100%;
    height:105px;
    background-color: #fff;
    border-bottom: 1px solid rgb(217,217,217);
}
.header-top{
    width:100%;
    height:35px;
    background: rgb(26,29,17);
}
.header,
.section,
.footer{
    width:980px;
    margin:0 auto;
}
.banner{
    width:100%;
    height:382px;
    background-image: url("../img/pc_toutu.png");
    background-position: 50% 50%;
}
.longdai-section{
    width:100%;
}
.active-time{
    width:100%;
    height:488px;
    background: rgb(225,245,255);
}
.section-title{
    padding-top:20px;
    font-size:18px;
    text-align: center;
    color:rgb(83,83,83);
}
.section-title-line{
    width:40px;
    height:1px;
    border-top:1px solid rgb(248,78,53);
}
.time-data-icon{
    width:438px;
    height:85px;
    background: url("../img/pc_icon.png") -4px -4px no-repeat;
    margin:30px auto 30px;
    position: relative;
}
.time-bg{
    position: absolute;
    background-image: url("../img/pc_icon.png");
}
.time-bg-a{
    top:-45px;
    right:85px;
    width:32px;
    height:18px;
    background-position: -110px -110px;
}
.time-bg-b{
    bottom:-65px;
    left:155px;
    width:38px;
    height:38px;
    background-position: -182px -96px;
}
.time-bg-c{
    bottom: -50px;
    left:-130px;
    width:54px;
    height:39px;
    background-position: -3px -97px;
}
.time-bg-d{
    bottom:-270px;
    left:-240px;
    width:123px;
    height:190px;
    background-position: 0 -146px;
}
.time-bg-e{
    bottom:-60px;
    right:-100px;
    width:25px;
    height:30px;
    background-position: -73px -101px;
}
.time-bg-f{
    bottom:-265px;
    right:-230px;
    width:60px;
    height:60px;
    background-position: -230px -95px;
}
.time-bg-g{
    bottom:-275px;
    right:-43px;
    width:18px;
    height:15px;
    background-position: -154px  -110px;
}
.time-table{
    width:440px;
    height:210px;
}
.time-table-body{
    width:100%;
    height:180px;
    overflow: hidden;
    /*position: relative;*/
}
.time-body-block{
    width: 100%;
    height:100%;
    overflow: hidden;
    /*position: absolute;*/
    /*top: 0;*/
}
.time-table-title{
    width:100%;
    margin:18px 0 14px;
    text-align: justify;
    font-size:14px;
}
.time-table-a{
    width:90px;
    text-align:center;
}
.time-table-b{
    width:115px;
    margin-left:50px;
    text-align: center;
}
.time-table-c{
    width:120px;
    text-align: center;
}
.time-table-group{
    height:35px;
    line-height:35px;
    color:rgb(62,57,56);
}
.rule-group{
    margin-bottom:40px;

}
.r-m{
    margin-top:23px;
}
.rule-header{
    font-size:20px;
    line-height:40px;
    color:rgb(18,119,250);
    text-decoration-color:rgb(149,151,252);
}
.rule-header-icon{
    height:35px;
    margin-right:35px;
    background-image: url("../img/pc_icon.png");
}
.icon-a{
    width:157px;
    background-position: -300px -109px;
}
.rule-header-node{
    font-weight:bold;
    line-height:30px;
    margin:13px 0 40px 0;
}
.icon-b{
    width:158px;
    background-position: -300px -163px;
}
.icon-c{
    width:266px;
    background-position: -300px -207px;
}
.active-invitation{
    height:305px;
    border:1px dashed rgb(245,120,93);
    margin-top:20px;
    margin-bottom:30px;
    background-color: rgb(225,246,255);
}
.invitation-icon{
    width:162px;
    height:68px;
    background: url("../img/pc_icon.png") -132px -165px;
    margin:116px 43px 0 17px;
    position: relative;
}
.invitation-icon-text{
    position: absolute;
    left:20px;
    top:20px;
    font-size:20px;
    color: #fff;

}
.invitation-group{
    width:200px;
    margin:20px 60px 0 0;
}
.invitation-steps-icon{
    display: block;
    width:142px;
    height:143px;
    background-image:url('../img/pc_icon.png');
    margin-left:18px;
    margin-bottom:35px;
}
.steps-a{
    background-position:0 -345px;
}
.w-a{
    width:5%;
}
.w-b{
    width:93%;
}
.m-a{
    margin-right:0;
}
.steps-b{
    background-position: -147px -345px;
}
.steps-c{
    background-position: -293px -345px;
}
.steps-d{
    background-position: -440px -345px;
}
.steps-e{
    background-position: 0 -507px;
}
.steps-f{
    background-position: -157px -507px;
}
.longdai-footer{
    width:100%;
    height:270px;
    background-color: rgb(247,247,247);
    margin-top:55px;
    line-height:30px;
}
.footer-header{
    font-size:18px;
    padding-top:20px;
}
.footer-text{
    font-size:16px;
}
