.month-con {
    display: flex;
    display:-webkit-flex;
}

.month-head {
    display: flex;
    display:-webkit-flex;

    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 60%;
}

.month-li {
    flex-basis:14%;
    background-color: red;
}