<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                <img src="/src/images/userImage.jpg" class="img-circle w18 mr5">
                <span id="userName"></span>
            </a>
        </li>
        <li><a ui-sref="admin.viewContainer.studentInformation">信息总览</a></li>
        <li><a href="#">校务通知</a></li>
        <li><a href="#">学生录入</a></li>
        <li><a href="#">信息更改</a></li>
        <li><a href="#">课表打印</a></li>
        <li><a href="#">学生选课</a></li>
        <li><a href="#">教师入口</a></li>
    </ul>
</div>