<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>商品详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" draggable="false"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-itunes-app" content="app-id=900365369"/>
</head>
<body>
    <div class="longcoin-product hide">
        <div class="longcoin-product-detail"></div>
        <div class="longcoin-product-title">
            <span class="longcoin-product-title-con">免责声明</span>
        </div>
        <div class="longcoin-product-con">请您在兑换前仔细查看商品详情，除商品异常导致不能正常兑换外，一经兑换，一律不退还龙币。活动规则解释权归龙贷公司所有。</div>
        <div class="longcoin-product-buy">
            <div class="longcoin-product-buy-t hide">可用龙币：<span class="longcoin-product-useamount"></span></div>
            <div class="longcoin-product-buy-b clearfloat">
                <span class="f-l longcoin-product-buy-name">兑换数量</span>
                <span class="f-l clearfloat">
                    <span class="f-l longcoin-product-buy-sub">-</span>
                    <span class="f-l longcoin-product-buy-num">1</span>
                    <span class="f-l longcoin-product-buy-add">+</span>
                </span>
                <span class="f-r longcoin-product-btn">立即兑换</span>
            </div>
        </div>
    </div>
    <div th:include="include/include :: footer"></div>
</body>
</html>