<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>龙币商城</title>
    <meta name="longdai-right-title" type="js" content="介绍" value="introcuct()">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" draggable="false"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-itunes-app" content="app-id=900365369"/>
</head>
<body>
    <div class="longcoin-product">
        <div class="longcoin-store-unlogin">
            <img class="longcoin-store-unlogin-bg" src="../../../images/longCoin/beijing.png" />
            <div class="longcoin-store-unlogin-con">
                <div><a href="longdai://login" class="fz18 c-5a6d9f pdr5">登录</a>后可查看我的龙币</div>
                <div class="c-5a6d9f page-to-user">赚龙币&nbsp;&nbsp;></div>
            </div>
        </div>
        <div class="longcoin-store-login hide">
            <div class="font16">可用龙币</div>
            <div class="longcoin-store-amount">0</div>
            <div class="c-5a6d9f longcoin-store-newer page-to-user">赚龙币<span class="longcoin-store-status"></span>></div>
        </div>
        <div class="longcoin-store-title">热门商品</div>
        <div class="longcoin-store-products clearfloat"></div>
    </div>
    <div th:include="include/include :: footer"></div>
</body>
<script>
    window.introcuct = function () {
        location.href = location.origin + '/v2/dragonCoins/rule';
    }
</script>
</html>