<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>龙币规则</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" draggable="false"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-itunes-app" content="app-id=900365369"/>
</head>
<body>
    <div class="longcoin-rules">
        <div class="longcoin-rules-title">龙币是什么</div>
        <div class="">龙币是龙贷平台推出的一项积分服务。龙贷用户可以通过完成不同的任务来赚龙币，也可以在龙币商城来兑换各种礼品，比如加息券、红包、实物礼品等。以后龙贷平台会陆续增加任务和商城礼品，敬请期待。</div>
        <div class="longcoin-rules-title">如何赚龙币</div>
        <!--<div class="longcoin-rules-how clearfloat">-->
            <!--<div class="f-l longcoin-rules-how-l">-->
                <!--<img src="../../../images/longCoin/guize_icon_1.png" class="longcoin-rules-icon"/>-->
            <!--</div>-->
            <!--<div class="f-l longcoin-rules-how-r">1.绑定银行卡：100枚龙币</div>-->
        <!--</div>-->
        <div class="longcoin-rules-how clearfloat">
            <div class="f-l longcoin-rules-how-l">
                <img src="../../../images/longCoin/guize_icon_2.png" class="longcoin-rules-icon"/>
            </div>
            <div class="f-l longcoin-rules-how-r">1.验证邮箱：100枚龙币</div>
        </div>
        <div class="longcoin-rules-how clearfloat">
            <div class="f-l longcoin-rules-how-l">
                <img src="../../../images/longCoin/guize_icon_3.png" class="longcoin-rules-icon"/>
            </div>
            <div class="f-l longcoin-rules-how-r">2.上传头像：100枚龙币</div>
        </div>
        <div class="longcoin-rules-how clearfloat">
            <div class="f-l longcoin-rules-how-l">
                <img src="../../../images/longCoin/guize_icon_4.png" class="longcoin-rules-icon"/>
            </div>
            <div class="f-l longcoin-rules-how-r mt8">3.回款利息：按回款利息金额折换龙币（省略小数部分）</div>
        </div>
        <div class="longcoin-rules-how clearfloat">
            <div class="f-l longcoin-rules-how-l">
                <img src="../../../images/longCoin/guize_icon_5.png" class="longcoin-rules-icon"/>
            </div>
            <div class="f-l longcoin-rules-how-r mt8">4.参与部分官方发起的活动可免费获得龙币</div>
        </div>
        <div class="longcoin-rules-title">如何使用龙币</div>
        <img src="../../../images/longCoin/guize.png" class="longcoin-rules-use"/>
        <div class="longcoin-rules-title">更多规则</div>
        <ul class="longcoin-rules-ul">
            <li>龙币获取后有效期至少1年，即从获得开始至次年年底，逾期自动作废。如：2016年1月1日领取的龙币，2017年12月31日后过期；</li>
            <li>龙币不可转让，不能提现；</li>
            <li>本规则遵循龙贷法律声明，规则解释权归龙贷所有。</li>
        </ul>
    </div>
    <div th:include="include/include :: footer"></div>
</body>
</html>