<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>填写申请资料</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" draggable="false"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-itunes-app" content="app-id=900365369"/>
</head>
<body class="bg-f9f8f5">
    <div class="long-fortuna-apply">
        <div class="long-fortuna-message"></div>
        <div id="apply_sure" class="long-fortuna-btn">确定申请</div>
        <div class="long-fortuna-tips">
            <div>温馨提示：</div>
            <div>1.本规则遵循龙贷法律声明，规则解释权归龙贷所有。</div>
            <div>2.如有疑问请联系客服热线<a href="tel:4009518518" class="long-fortuna-tel">4009-518-518</a></div>
        </div>
    </div>
    <div th:include="include/include :: footer"></div>
    <script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>
</body>

</html>