<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>加入龙财神服务</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" draggable="false"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-itunes-app" content="app-id=900365369"/>
</head>
<body class="bg-fff">
    <div class="long-fortuna">
        <div class="long-fortuna-title">
            <div class="long-fortuna-title-con">关于龙财神</div>
        </div>
        <div class="long-fortuna-con">龙财神是龙贷为高端客户全新打造的，为出借人与优质借款人提供一对一的直接撮合，且享有所投项目下资产抵押权的服务。</div>
        <div class="long-fortuna-title">
            <div class="long-fortuna-title-con">享受权益</div>
        </div>
        <div class="long-fortuna-con">
            <div class="long-fortuna-li clearfloat">
                <div class="f-l long-fortuna-li-l">
                    <img src="../../../images/longFortuna/youzhi@3x.png" class="long-fortuna-icon"/>

                </div>
                <div class="f-l long-fortuna-li-r">
                    <div class="long-fortuna-li-t">专享优质借款人直接撮合服务</div>
                    <div class="long-fortuna-li-b">
                        <div class="long-fortuna-li-txt show">
                            <div class="long-fortuna-li-txt-summary">由龙贷平台及合作机构进行借款人尽职调查和风险评估后，为...</div>
                            <div class="clearfloat">
                                <span class="f-r long-fortuna-li-more">查看更多 ></span>
                            </div>
                            <div class="long-fortuna-li-txt-all">由龙贷平台及合作机构进行借款人尽职调查和风险评估后，为龙财神用户进行一对一的优质借款居间撮合，并享有所投项目下的资产抵押权服务。</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="long-fortuna-li clearfloat">
                <div class="f-l long-fortuna-li-l">
                    <img src="../../../images/longFortuna/lilv@3x.png" class="long-fortuna-icon"/>
                </div>
                <div class="f-l long-fortuna-li-r">
                    <div class="long-fortuna-li-t">专享高收益逾期债权收购资格</div>
                    <div class="long-fortuna-li-b">
                        <div class="long-fortuna-li-txt show">
                            <div class="long-fortuna-li-txt-summary">如果平台上有借款人出现逾期行为形成逾期债权，龙贷会优先...</div>
                            <div class="clearfloat">
                                <span class="f-r long-fortuna-li-more">查看更多 ></span>
                            </div>
                            <div class="long-fortuna-li-txt-all">如果平台上有借款人出现逾期行为形成逾期债权，龙贷会优先通知龙财神用户，确认是否承接逾期债权，并由平台及合作机构辅助进行债权处置。处置期间所获得收益除支付给平台及合作伙伴一定比例服务费外，尽数归为承接逾期债权的龙财神用户所有。</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="long-fortuna-li clearfloat">
                <div class="f-l long-fortuna-li-l">
                    <img src="../../../images/longFortuna/siren@3x.png" class="long-fortuna-icon"/>
                </div>
                <div class="f-l long-fortuna-li-r">
                    <div class="long-fortuna-li-t">专享私人客服和法律顾问服务</div>
                    <div class="long-fortuna-li-b last">
                        <div class="long-fortuna-li-txt show">
                            <div class="long-fortuna-li-txt-summary">如果龙财神用户在使用过程中碰到各种问题，可以第一时间联系...</div>
                            <div class="clearfloat">
                                <span class="f-r long-fortuna-li-more">查看更多 ></span>
                            </div>
                            <div class="long-fortuna-li-txt-all">如果龙财神用户在使用过程中碰到各种问题，可以第一时间联系私人客服。一对一专属的贴心客服服务让龙财神用户享受更便捷、更专业、更优质的服务。龙贷平台及合作机构聘请的专业律师为龙财神用户所投项目提供法律顾问服务，并确保龙财神用户在极端情况下能够及时有效维权，最大限度地保护龙财神用户的利益。</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="long-fortuna-title">
            <div class="long-fortuna-title-con">申请条件</div>
        </div>
        <div class="long-fortuna-con">
            <div>1.可在北京实地面签</div>
            <div>2.拥有100万以上可投资金</div>
        </div>
        <div class="long-fortuna-apply-time"></div>

        <div class="long-fortuna-tips">
            <div>温馨提示：</div>
            <div>1.本规则遵循龙贷法律声明，规则解释权归龙贷所有。</div>
            <div>2.如有疑问请联系客服热线<a href="tel:4009518518" class="long-fortuna-tel">4009-518-518</a></div>
        </div>
    </div>
    <div th:include="include/include :: footer"></div>
</body>
</html>