*{
    margin: 0;
    padding: 0;
}
body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    font-size: 14px;
    max-width: 750px;
    color: #666;
    font-weight: normal;
    margin: 0 auto;
}
a,a:hover,a:active{
    color: #666;
    text-decoration: none;
    -webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
a,img,button,input,textarea,span,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-border:none;
    -moz-border:none;
    -ms-border:none;
    -o-border:none;
    border:none;
    text-decoration: none;
}

input:focus{
    -webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
.clearfloat:after{
    display:block;
    clear:both;
    content:".";
    visibility:hidden;
    height:0;
}
.clearfloat{
    zoom:1;
}
.f-l{
    float: left;
    display: inline;
}
.f-r{
    float:right;
    display: inline;
}
.bg-fff{
    background-color: #fff;
}
.long-fortuna-title{
    padding: 10px 20px;
    background-color: #eee;
}
.long-fortuna-title-con{
    color: #6c1c1c;
    padding-left: 15px;
    border-left: 2px solid #6c1c1c;
}
.long-fortuna-con{
    line-height: 26px;
    padding: 20px;
}
.long-fortuna-li{
    width: 280px;
    margin: 0 auto;
    padding-top: 10px;
}
.long-fortuna-li-l{
    width: 55px;
    margin-top: 26px;
}
.long-fortuna-li-r{
    width: 220px;
}
.long-fortuna-icon{
    display: block;
    width: 35px;
}
.long-fortuna-li-t{
    color: #333;
}
.long-fortuna-li-b{
    color: #999;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
}
.long-fortuna-li-b.last{
    border-bottom: 1px solid #fff;
}
.long-fortuna-li-more{
    color: #5a6d9f;
    text-align: right;
}
.long-fortuna-li-txt.show .long-fortuna-li-txt-all{
    display: none;
}
.long-fortuna-li-txt.hide .long-fortuna-li-txt-all{
    display: block;
}
.long-fortuna-li-txt.show .long-fortuna-li-txt-summary{
    display: block;
}
.long-fortuna-li-txt.hide .long-fortuna-li-txt-summary{
    display: none;
}
.long-fortuna-li-txt.show .long-fortuna-li-more{
    display: block;
}
.long-fortuna-li-txt.hide .long-fortuna-li-more{
    display: none;
}

.long-fortuna-btn{
    display: block;
    width: 290px;
    height: 44px;
    line-height: 44px;
    margin: 0 auto;
    background-color: #24b26f;
    color:#fff;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}
.long-fortuna-btn.btn2{
    background-color: #ccc;
}
.long-fortuna-tips{
    padding: 20px;
    color: #999;
}
.long-fortuna-tel{
    color: #24b26f;
    padding-left: 5px;
    letter-spacing: 1px;
}
.long-fortuna-apply{
    line-height: 26px;
    background-color: #f9f8f5;
    padding-top: 20px;
}
.long-fortuna-input-wrap{
    background-color: #fff;
    border-top: 1px solid #d5ccba;
    border-bottom: 1px solid #d5ccba;
    margin-top: -1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5%;
    width: 95%;
    color: #937b84;
}
.bg-f9f8f5{
    background-color: #f9f8f5;
}
.long-fortuna-input{
    font-size: 14px;
    color: #937b84;
    width: 100%;
}
.long-fortuna-input::-webkit-input-placeholder {
    color: #ccc;
}

/*.long-fortuna-select{*/
    /*width: 45%;*/
    /*margin-right: 5%;*/
    /*color: #937b84;*/
    /*font-size: 14px;*/
    /*!*Chrome和Firefox里面的边框是不一样的，所以复写了一下*!*/
    /*border: 0 !important;*/

    /*!*很关键：将默认的select选择框样式清除*!*/
    /*appearance:none;*/
    /*-moz-appearance:none;*/
    /*-webkit-appearance:none;*/

    /*!*在选择框的最右侧中间显示小箭头图片*!*/
    /*background-color: transparent;*/
    /*!*background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;*!*/


    /*!*为下拉小箭头留出一点位置，避免被文字覆盖*!*/
    /*padding-right: 14px;*/
/*}*/
/*.long-fortuna-select:focus{*/
    /*outline: none;*/
/*}*/
/*!*清除ie的默认选择框样式清除，隐藏下拉箭头*!*/
/*.long-fortuna-select::-ms-expand { display: none; }*/
/*.long-fortuna-select.default{*/
    /*color: #ccc;*/
    /*display: none;*/
/*}*/
.long-fortuna-select{
    font-size: 14px;
}
.long-fortuna-input-label{
    color: #ccc;
    display: inline-block;
    height: 26px;
    line-height: 26px;
}
.long-fortuna-select.ios-select-widget-box header.iosselect-header{
    border-top: 1px solid #d5ccba;
    border-bottom: 1px solid #d5ccba;
    background-color: #fff;
}
.long-fortuna-select.ios-select-widget-box header.iosselect-header a{
    color: #000;
}
.long-fortuna-select.ios-select-widget-box ul li{
    color: #937b84;
}
.long-fortuna-input-address{
    display: none;
    color: #937b84;
    height: 18px;
    line-height: 18px;
    padding: 4px 0;
}

/*这里是闪烁光标*/
.cursor-blink {
    width: 2px;
    margin-left: 3px;
    height: 17px;
    line-height: 17px;
    -webkit-animation: blink 1.5s infinite steps(1, start);
    -o-animation: blink 1.5s infinite steps(1, start);
    animation: blink 1.5s infinite steps(1, start);
    display: none;
}
/*这里设置动画blink*/
@keyframes blink {
    0%, 100% {
        background-color: #fff;
        color: #fff;
    }
    50% {
        background-color: #937b84; /* not #aaa because it's seem there is Google Chrome bug */
        color: #937b84;
    }
}
@-webkit-keyframes blink {
    0%, 100% {
        background-color: #fff;
        color: #fff;
    }
    50% {
        background-color: #937b84; /* not #aaa because it's seem there is Google Chrome bug */
        color: #937b84;
    }
}
