.mask {
    opacity: .2;
    filter: alpha(opacity=20);
    background: #000 none repeat scroll 0 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    display: none;
}


.dialog {
    position: absolute;
    z-index: 100;
    text-align: left;
    padding: 8px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3F000000,endcolorstr=#3F000000);
}

.dialog-corner {
    width: 4px;
    height: 4px;
    display: block;
}

.dialog-titlebar {
    background-color: #f3f3f3;
    height: 38px;
    position: relative;
    border: 1px solid #e5e5e5;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dialog-title {
    font-weight: bold;
    padding: 10px 0 8px 12px;
    font-size: 14px;
    color: #666;
}

.dialog-title span {
    vertical-align: 3px;
    *vertical-align: 1px;
}

.dialog-title div {
    height: 16px;
    width: 16px;
    display: inline-block;
    zoom:1;*display: inline;
    margin-right: 5px;
}

#dialog-titlebar-close-a:hover .newdialog-titlebar-close {
    cursor: pointer;
    background-position: -55px -307px;
}

.newdialog-titlebar-close {
    background-image: url("/public/src/images/tiny_icon.png");
    background-position: -26px -307px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
}

.dialog-btn-close {
    position: absolute;
    right: 5px;
    top: 4px;
    background-position: 0 -32px;
    width: 17px;
    height: 17px;
}

.dialog-btn-close:hover {
    background-position: -17px -32px;
}

.dialog-content {
    background-color: white;
    padding: 15px 20px 10px 20px;
}

.flash-dialog-content {
    padding: 0;
    border-bottom: none;
}

.dialog-buttonpane-dashed {
    height: 12px;
    border-top: 1px dashed #ccc;
}

.dialog-buttonpane {
    background-color: white;
    height: 56px;
    padding-left: 20px;
    padding-right: 20px;
}

.dialog-buttonpane .button-container {
    float: right;
}

.dialog-buttonpane a.newbtn {
    margin-left: 10px;
}

.dialog-title .icon-remove-hidden {
    width: 0;
    height: 0;
}

.icon-remove-appear {
    width: 16px;
    height: 16px;
    background-image: url("/public/src/images/tiny_icon.png");
    background-size: 148px 169px;
    background-position: 0 -20px;
}

.dialog-content-remove {
    width: 378px;
    height: 78px;
    position: relative;
}

.dialog-content-remove-img {
    position: absolute;
    left: 34px;
    top: 9px;
}

.dialog-content-remove-p {
    position: absolute;
    left: 95px;
    top: 25px;
    width: 255px;
    line-height: 1.5;
}

.dialog-content-remove-p-left {
    left: 34px;
}

.dialog-content-helpchat-p {
    position: absolute;
    left: 34px;
    top: 25px;
}

.dialog-content-common {
    width: 350px;
    padding: 30px 20px;
    line-height: 1.5;
}

.dialog-content-common-p-center .dialog-content-common-p {
    text-align: center;
}

.dialog-invation-content{
      color: #999;
}
.dialog-invation-content label{
    margin-right: 15px;
}
.dialog-invation-content input#invation_url{
    width: 250px;
    height: 35px;
    line-height: 35px;
    padding: 5px;
    outline: 0;
    margin-right: 8px;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.dialog-invation-content:focus{
    border-color: #317ff5;
}
.dialog-invation-content .dialog-share {
    margin-bottom: 10px;
}
.dialog-invation-content .share-text{
    font-size: 12px;
    margin-right: 20px;
}
.newbtn-1{
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #fff;
    background-color: #2f7bf2;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}
.newbtn-1:hover{
    color: #fff;
}
.newbtn-2{
    width: 80px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
@include line-height(35px);
    color:  #317ff5;
    margin-left: 20px;
}
.w100{
    display: inline-block;
    width: 100px;
}
.w200{
    display: inline-block;
    width: 200px;
}
.w300{
    display: inline-block;
    width: 300px;
}
.w350{
    display: inline-block;
    width: 350px;
}
.w400{
    display: inline-block;
    width: 400px;
}
.w500{
    display: inline-block;
    width: 500px;
}
.h300{
    display: inline-block;
    height: 300px;
}
.line-height30{
    line-height: 30px;
}
.line-height35{
    line-height: 35px;
}
.line-height44{
    line-height: 44px;
}