<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>公司简介</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" draggable="false" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-itunes-app" content="app-id=900365369" />
</head>
<body>
    <div class="company">
        <img class="company-title" src="../../../images/about/companyProfile/title_1.png"/>
        <div class="company-li show">
            <div class="company-li-title clearfloat">
                <img class="f-l company-li-icon icon1" src="../../../images/about/companyProfile/about_1.png"/>
                <span class="f-l">龙贷是谁</span>
                <i class="f-r arrow-down"></i>
                <i class="f-r arrow-up"></i>
            </div>
            <div class="company-li-con show active">
                <p>龙贷（www.longdai.com）隶属龙贷在线投资（北京）有限公司。龙贷在线投资（北京）有限公司于2014年3月在北京注册成立，注册资本五千万人民币，是互联网技术型企业GOZAP旗下成员，总部位于北京市西城区西直门西环广场。</p>
                <p>我们相信：一场由互联网/移动互联网技术推动的中国金融市场演化正在发生，纸币、银行、资产证券化等等我们“现在”熟悉的概念及其延伸将在未来二十年发生翻天覆地的变化，对观念、社会结构的冲击不亚于上世纪90年代至今的通讯革命，是的，1994年没人会相信现在每个人都有手机。</p>
                <p>不论技术如何演化，金融的本质不会发生变化。我们将以谦卑的心态参与这场技术与金融的融合大潮。</p>
            </div>
        </div>
        <div class="company-li">
            <div class="company-li-title clearfloat">
                <img class="f-l company-li-icon icon2" src="../../../images/about/companyProfile/about_2.png"/>
                <span class="f-l">价值观</span>
                <i class="f-r arrow-down"></i>
                <i class="f-r arrow-up"></i>
            </div>
            <div class="company-li-con">
                <p>我们承诺：</p>
                <p>1）不做资金池</p>
                <p>2）建立活跃的债权转让交易二级市场，提高客户流动性</p>
                <p>3）通过对合作伙伴的严谨风控，完成对项目的尽职调查和投后管理</p>
                <p>4）充分、定期、透明、公开披露平台运营数据</p>
            </div>
        </div>
        <div class="company-li">
            <div class="company-li-title clearfloat">
                <img class="f-l company-li-icon icon3" src="../../../images/about/companyProfile/about_3.png"/>
                <span class="f-l">近期目标</span>
                <i class="f-r arrow-down"></i>
                <i class="f-r arrow-up"></i>
            </div>
            <div class="company-li-con">
                <p>建立国内领先的个人对个人（P2P）网络借贷服务平台。</p>
            </div>
        </div>
        <img class="company-title" src="../../../images/about/companyProfile/title_2.png"/>
        <div class="company-progress">
            <div class="company-progress-header clearfloat">
                <div class="f-l company-progress-time active" data-year="2016">2016</div>
                <div class="f-l company-progress-time" data-year="2015">2015</div>
                <div class="f-l company-progress-time" data-year="2014">2014</div>
            </div>
            <div class="company-progress-con con2016 show">
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-sq1"></i>
                    <i class="company-progress-li-point active"></i>
                    <span class="f-l company-progress-li-time">10.13</span>
                    <span class="f-l company-progress-li-con">龙贷平台数据披露页面上线</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">09.18</span>
                    <span class="f-l company-progress-li-con">龙贷会员体系正式上线</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">07.04</span>
                    <span class="f-l company-progress-li-con">龙贷每日签到任务-薅龙鳞活动和加息功能正式上线</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">06.12</span>
                    <span class="f-l company-progress-li-con">龙贷累计成交额突破20亿元</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">05.28</span>
                    <span class="f-l company-progress-li-con">汽车金融项目正式上线</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">04.25</span>
                    <span class="f-l company-progress-li-con">龙贷旗下借款品牌-啃钱正式上线</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">02.22</span>
                    <span class="f-l company-progress-li-con">龙贷社区正式上线</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-sq2"></i>
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">01.11</span>
                    <span class="f-l company-progress-li-con pdb0">龙贷理财APP 2.0版正式发布</span>
                </div>
            </div>
            <div class="company-progress-con con2015 hide">
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-sq1"></i>
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">11.24</span>
                    <span class="f-l company-progress-li-con">小额信用贷项目上线</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">10.23</span>
                    <span class="f-l company-progress-li-con">首次引入国有担保机构-北京文化科技融资担保有限公司</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">10.20</span>
                    <span class="f-l company-progress-li-con">累计成交额突破10亿元</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-sq2"></i>
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">03.22</span>
                    <span class="f-l company-progress-li-con pdb0">累计成交额突破5亿元</span>
                </div>
            </div>
            <div class="company-progress-con con2014 hide">
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-sq1"></i>
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">09.13</span>
                    <span class="f-l company-progress-li-con">债权转让功能上线</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">08.13</span>
                    <span class="f-l company-progress-li-con">累计成交额突破1亿元</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">08.04</span>
                    <span class="f-l company-progress-li-con">龙贷理财APP正式发布</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">05.22</span>
                    <span class="f-l company-progress-li-con">正式加入中国最具权威性和公信力的“中国小额信贷联盟”</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">04.25</span>
                    <span class="f-l company-progress-li-con">龙贷网站和定期理财产品-龙聚宝上线</span>
                </div>
                <div class="company-progress-li clearfloat">
                    <i class="company-progress-li-sq2"></i>
                    <i class="company-progress-li-point"></i>
                    <span class="f-l company-progress-li-time">03.13</span>
                    <span class="f-l company-progress-li-con pdb0">公司成立</span>
                </div>
            </div>
        </div>
        <img class="company-title" src="../../../images/about/companyProfile/title_3.png"/>
        <div class="company-banner-wrap">
            <div class="company-banner clearfloat">
                <div class="f-l company-banner-li li1" data-index="1">
                    <img class="company-banner-li-image" src="../../../images/about/companyProfile/banner_1.jpg"/>
                </div>
                <div class="f-l company-banner-li li2 active" data-index="2">
                    <img id="banner_active" class="company-banner-li-image" src="../../../images/about/companyProfile/banner_2.jpg"/>
                </div>
                <div class="f-l company-banner-li li3" data-index="3">
                    <img class="company-banner-li-image" src="../../../images/about/companyProfile/banner_3.jpg"/>
                </div>
                <div class="f-l company-banner-li li4" data-index="4">
                    <img class="company-banner-li-image" src="../../../images/about/companyProfile/banner_4.jpg"/>
                </div>
            </div>
        </div>

        <img class="company-title" src="../../../images/about/companyProfile/title_4.png"/>
        <div class="pd15 bg-fff">
            <img class="company-banner-li-image" src="../../../images/about/companyProfile/yingyezhizhao2.png"/>
        </div>
        <img class="company-title" src="../../../images/about/companyProfile/title_5.png"/>
        <div class="company-table">
            <div class="company-table-tr clearfloat">
                <a class="f-l company-table-td" href="/v2/about/financialProduct">
                    <img class="company-table-td-icon" src="../../../images/about/companyProfile/see_1.png"/>
                    <span class="company-table-td-con">龙贷产品</span>
                </a>
                <a class="f-l company-table-td bd-l" href="/v2/report/realTimeData">
                    <img class="company-table-td-icon" src="../../../images/about/companyProfile/see_2.png"/>
                    <span class="company-table-td-con">平台数据</span>
                </a>
            </div>
            <div class="company-table-tr clearfloat">
                <a class="f-l company-table-td" href="/v2/about/security">
                    <img class="company-table-td-icon" src="../../../images/about/companyProfile/see_3.png"/>
                    <span class="company-table-td-con">风险控制</span>
                </a>
                <a class="f-l company-table-td bd-l" href="/v2/about/guide">
                    <img class="company-table-td-icon" src="../../../images/about/companyProfile/see_4.png"/>
                    <span class="company-table-td-con">新手引导</span>
                </a>
            </div>
            <div class="company-table-tr clearfloat">
                <a class="f-l company-table-td clearfloat" href="https://m.longdai.com/comTransparent?isApp=1">
                    <img class="company-table-td-icon" src="../../../images/about/companyProfile/see_5.png"/>
                    <span class="company-table-td-con">合规透明</span>
                </a>
                <a class="f-l company-table-td bd-l" href="https://m.longdai.com/honorAgreement?isApp=1">
                    <img class="company-table-td-icon" src="../../../images/about/companyProfile/see_6.png"/>
                    <span class="company-table-td-con">企业荣誉</span>
                </a>
            </div>
            <div class="company-table-tr last clearfloat">
                <a class="f-l company-table-td" href="https://m.longdai.com/supReport?isApp=1">
                    <img class="company-table-td-icon" src="../../../images/about/companyProfile/see_7.png"/>
                    <span class="company-table-td-con">资金托管</span>
                </a>
                <a class="f-l company-table-td bd-l" href="https://m.longdai.com/aboutCooperate.do?location=xindai&isApp=1">
                    <img class="company-table-td-icon" src="../../../images/about/companyProfile/see_8.png"/>
                    <span class="company-table-td-con">合作伙伴</span>
                </a>
            </div>
        </div>
        <footer class="company-footer">
            <div class="company-footer-title">仍有疑问?希望我们可以帮助您:</div>
            <div class="company-footer-li">
                <a href="longdai://feed" class="company-footer-link">
                    <img src="../../../images/about/userGuide/footer_suggest.png" alt="" class="company-footer-icon"/>
                    <span>意见反馈</span>
                </a>
                <a href="https://m.longdai.com/help?isApp=1&version=2" class="pdl15 company-footer-link">
                    <img src="../../../images/about/userGuide/footer_help.png" alt="" class="company-footer-icon"/>
                    <span>帮助中心</span>
                </a>
            </div>
            <div class="company-footer-li">
                <a href="tel:4009518518" class="company-footer-link">
                    <img src="../../../images/about/userGuide/footer_phone.png" alt="" class="company-footer-icon"/>
                    <span>热线电话: 4009-518-518</span>
                </a>
            </div>

        </footer>
    </div>
</body>
<script>

</script>

</html>