<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>风险控制</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" draggable="false" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-itunes-app" content="app-id=900365369" />
</head>
<body>
<div class="security">
    <img class="w100" src="../../../images/security/security_01.png"/>
    <div id="security_progress" class="security-progress">
        <div class="clearfloat">
            <div class="f-l security-progress-li li1">
                <span class="security-progress-index">1</span>
                <div class="security-progress-con">
                    <i class="security-progress-icon icon1"></i>
                    <div>客户洽谈</div>
                </div>
            </div>
            <div class="f-l security-progress-line line1"></div>
            <div class="f-l security-progress-li li2">
                <span class="security-progress-index">2</span>
                <div class="security-progress-con">
                    <i class="security-progress-icon icon2"></i>
                    <div class="relative"><div>资料收集</div><i class="security-wen"></i></div>
                    <div class="security-progress-txt">
                        <div class="security-progress-txt-title">贷前审核</div>
                        <div class="security-progress-txt-con">初次洽谈后，通过资料核实及实地考察的方式，对借款用户的借款用途、资信状况、偿还能力等进行分析，期间需通过下户查账（方法包括但不限于通过企业或个人财务报表、银行流水、上下游合同、科目余额表、二级明细账、水电缴费单、纳税报表及票据、租金缴纳情况、背景调查、重要谈话交流等）；身份证真伪查询；社保信息真伪查询；工作地址查询；个人及公司征信报告；公检法网站查询执行记录；抵押物价值及状态；工商系统查询等方式方法，后形成调研报告，进入审批环节。</div>
                    </div>
                </div>
            </div>
            <div class="f-l security-progress-line line2"></div>
            <div class="f-l security-progress-li li3">
                <span class="security-progress-index">3</span>
                <div class="security-progress-con">
                    <i class="security-progress-icon icon3"></i>
                    <div class="relative"><div>下户调研</div><i class="security-wen"></i></div>
                    <div class="security-progress-txt">
                        <div class="security-progress-txt-title">贷前审核</div>
                        <div class="security-progress-txt-con">初次洽谈后，通过资料核实及实地考察的方式，对借款用户的借款用途、资信状况、偿还能力等进行分析，期间需通过下户查账（方法包括但不限于通过企业或个人财务报表、银行流水、上下游合同、科目余额表、二级明细账、水电缴费单、纳税报表及票据、租金缴纳情况、背景调查、重要谈话交流等）；身份证真伪查询；社保信息真伪查询；工作地址查询；个人及公司征信报告；公检法网站查询执行记录；抵押物价值及状态；工商系统查询等方式方法，后形成调研报告，进入审批环节。</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="security-progress-line2 line3"></div>
        <div class="clearfloat">
            <div class="f-r security-progress-li li4">
                <span class="security-progress-index">4</span>
                <div class="security-progress-con">
                    <i class="security-progress-icon icon4"></i>
                    <div class="relative"><div>评审报告</div><i class="security-wen"></i></div>
                    <div class="security-progress-txt">
                        <div class="security-progress-txt-title">评审</div>
                        <div class="security-progress-txt-con">为达到信贷专业化，龙贷特设立评审委员会，其成员七人，包括业务部经理、风险部经理、法务部经理、副总经理、总经理、财务部经理、首席风险官（评审主任）组成。会议根据项目量，由法务部提前进行通知并组织会议，项目经理就调研报告进行评述，后由评审委进行评议并签署意见，最终由评审主任确认结果，结果分为待定、通过、不通过三种形式，期间待定为存疑问题，需由项目经理补充调查；不通过则由法务部通知项目经理，此时项目终止；通过则进入放款流程。</div>
                    </div>
                </div>
            </div>
            <div class="f-r security-progress-line line4"></div>
            <div class="f-r security-progress-li li5">
                <span class="security-progress-index">5</span>
                <div class="security-progress-con">
                    <i class="security-progress-icon icon5"></i>
                    <div>签&nbsp;&nbsp;&nbsp;&nbsp;批</div>
                </div>
            </div>
            <div class="f-r security-progress-line line5"></div>
            <div class="f-r security-progress-li li6">
                <span class="security-progress-index">6</span>
                <div class="security-progress-con">
                    <i class="security-progress-icon icon6"></i>
                    <div class="relative"><div>合同签署</div><i class="security-wen"></i></div>
                    <div class="security-progress-txt">
                        <div class="security-progress-txt-title">合同签署</div>
                        <div class="security-progress-txt-con">龙贷下设法务部，所有对外合同均已进行专业审核，并与方正公证处、中信公证处等司法部门进行合作，每笔借款主合同均需公证，且具备强制执行效力。</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="security-progress-line2 ml40 line6"></div>
        <div class="clearfloat">
            <div class="f-l security-progress-li li7">
                <span class="security-progress-index">7</span>
                <div class="security-progress-con">
                    <i class="security-progress-icon icon7"></i>
                    <div>抵押登记</div>
                </div>
            </div>
            <div class="f-l security-progress-line line7"></div>

            <div class="f-l security-progress-li li8">
                <span class="security-progress-index">8</span>
                <div class="security-progress-con">
                    <i class="security-progress-icon icon8"></i>
                    <div>收&nbsp;&nbsp;&nbsp;&nbsp;费</div>
                </div>
            </div>
            <div class="f-l security-progress-line line8"></div>

            <div class="f-l security-progress-li li9">
                <span class="security-progress-index">9</span>
                <div class="security-progress-con">
                    <i class="security-progress-icon icon9"></i>
                    <div class="relative"><div>融资放款</div><i class="security-wen"></i></div>
                    <div class="security-progress-txt">
                        <div class="security-progress-txt-title">融资放款</div>
                        <div class="security-progress-txt-con">融资放款前项目经理需完成评审意见表所有相关流程，包括合同签署、办理权证抵质押、收费、新开卡等工作，后由审核专员核实并签字确认，由总经理最终签字后，相关人员通过项目借款人在龙贷平台的融资申请，融资成功后进行放款。</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="security-progress-line2 line9"></div>
        <div class="clearfloat">
            <div class="f-r security-progress-li li10">
                <span class="security-progress-index">10</span>
                <div class="security-progress-con">
                    <i class="security-progress-icon icon10"></i>
                    <div class="relative">
                        <div class="">归&nbsp;&nbsp;&nbsp;&nbsp;档</div>
                        <i class="security-wen"></i>
                    </div>
                    <div class="security-progress-txt">
                        <div class="security-progress-txt-title">归档</div>
                        <div class="security-progress-txt-con">为完善制度、规范化管理，龙贷出台专业的《档案管理制度》，严格按照档案移交、建立档案、归档、档案保管四个阶段进行档案管理，在项目放款后由项目经理完成资料卷移交工作，法务部专员进行接收并建立档案（期间需按放款类型单独立卷编号管理），后于15日内将后置权证类、公证和同类收集并进行归档入库，进入保管阶段。</div>
                    </div>
                </div>
            </div>
            <div class="f-r security-progress-line line10"></div>

            <div class="f-r security-progress-li li11">
                <span class="security-progress-index">11</span>
                <div class="security-progress-con">
                    <i class="security-progress-icon icon11"></i>
                    <div>贷后管理</div>
                </div>
            </div>
            <div class="f-r security-progress-line line11"></div>

            <div class="f-r security-progress-li li12">
                <span class="security-progress-index">12</span>
                <div class="security-progress-con">
                    <i class="security-progress-icon icon12"></i>
                    <div>还&nbsp;&nbsp;&nbsp;&nbsp;款</div>
                </div>
            </div>


        </div>
    </div>
    <img class="w100" src="../../../images/security/security_02.png"/>
    <div class="security-banner bg-e4e3ea">
        <ul class="security-banner-ul">
            <li class="security-banner-li li1 clearfloat active" data-index="1">
                <i class="f-l security-banner-li-icon icon1"></i>
                <div class="f-l security-banner-li-con mt20">
                    <div class="security-banner-li-name">关注贷款用途</div>
                    <div>企业是否按借款合同规定专款专用，有无挪用套用嫌疑，必要时要求企业提供合同及付款凭证。</div>
                </div>
            </li>
            <li class="security-banner-li li2 clearfloat" data-index="2">
                <i class="f-l security-banner-li-icon icon2"></i>
                <div class="f-l security-banner-li-con mt40">
                    <div class="security-banner-li-name">关注偿还情况</div>
                    <div>企业是否按借款合同规定支付利息、偿还本金等。</div>
                </div>
            </li>
            <li class="security-banner-li li3 clearfloat"  data-index="3">
                <i class="f-l security-banner-li-icon icon3"></i>
                <div class="f-l security-banner-li-con">
                    <div class="security-banner-li-name">关注经营和财务状况</div>
                    <div>每月需实地了解企业的经营和财务状况，并按月更新业务台账（根据《资产质量管理办法》，严格按照五级分类制度按月更新业务台账，并提交部门经理。）</div>
                </div>
            </li>
            <li class="security-banner-li li4 clearfloat" data-index="4">
                <i class="f-l security-banner-li-icon icon4"></i>
                <div class="f-l security-banner-li-con mt40">
                    <div class="security-banner-li-name">关注抵质押物</div>
                    <div>抵押物措施中是否发生了新的不利因素。</div>
                </div>
            </li>
            <li class="security-banner-li li5 clearfloat" data-index="5">
                <i class="f-l security-banner-li-icon icon5"></i>
                <div class="f-l security-banner-li-con mt40">
                    <div class="security-banner-li-name">关注涉诉情况</div>
                    <div>每月登录法院执行网，查询最新企业及个人涉诉情况。</div>
                </div>
            </li>
        </ul>
        <div class="security-banner-point">
            <span class="security-banner-point-icon icon1 active"></span>
            <span class="security-banner-point-icon icon2"></span>
            <span class="security-banner-point-icon icon3"></span>
            <span class="security-banner-point-icon icon4"></span>
            <span class="security-banner-point-icon icon5"></span>

        </div>
    </div>
    <img class="w100" src="../../../images/security/security_03.png"/>
    <div class="security-banner">
        <ul class="security-banner-ul">
            <li class="security-banner-li li1 clearfloat active"  data-index="1">
                <div class="f-l security-banner-li-con2">由回购方收购逾期债权</div>
                <i class="f-l security-banner-li-icon icon6"></i>

            </li>
            <li class="security-banner-li li2 clearfloat"  data-index="2">
                <div class="f-l security-banner-li-con2">由合作的资产管理公司收购逾期债权</div>
                <i class="f-l security-banner-li-icon icon7"></i>

            </li>
            <li class="security-banner-li li3 clearfloat" data-index="3">
                <div class="f-l security-banner-li-con2">通过法律诉讼/执行程序</div>
                <i class="f-l security-banner-li-icon icon8"></i>
            </li>
        </ul>
        <div class="security-banner-point">
            <span class="security-banner-point-icon icon1 active"></span>
            <span class="security-banner-point-icon icon2"></span>
            <span class="security-banner-point-icon icon3"></span>
        </div>
    </div>
    <img class="w100" src="../../../images/security/security_04.png"/>
    <div class="security-banner bg-e4e3ea">
        <ul class="security-banner-ul">
            <li class="security-banner-li li1 clearfloat active" data-index="1">
                <i class="f-l security-banner-li-icon icon9"></i>
                <div class="f-l security-banner-li-con mt50">
                    <div class="security-banner-li-name">高管层拥有丰富的处置经验。</div>
                </div>
            </li>
            <li class="security-banner-li li2 clearfloat" data-index="2">
                <i class="f-l security-banner-li-icon icon10"></i>
                <div class="f-l security-banner-li-con mt30">
                    <div class="security-banner-li-name">下设专业的法务部门</div>
                    <div>下设专业的法务部门，且均为律师出身，对司法程序到资源关系均有优势。</div>
                </div>
            </li>
            <li class="security-banner-li li3 clearfloat" data-index="3">
                <i class="f-l security-banner-li-icon icon11"></i>
                <div class="f-l security-banner-li-con mt10">
                    <div class="security-banner-li-name">有庞大且大量的合作机构</div>
                    <div>有庞大且大量的合作机构，其中包括资产管理公司、银行、担保机构等，可在风险预警同时，通过合作机构进行合理转化或债权转让，有效缓解或化解风险。</div>
                </div>
            </li>
            <li class="security-banner-li li4 clearfloat" data-index="4">
                <i class="f-l security-banner-li-icon icon12"></i>
                <div class="f-l security-banner-li-con mt20">
                    <div class="security-banner-li-name">借款项目多以房产为担保措施</div>
                    <div>借款项目多以房产为担保措施，且均无贷款敞口，故违约率较低，处理效率较高。</div>
                </div>
            </li>

        </ul>
        <div class="security-banner-point">
            <span class="security-banner-point-icon icon1 active"></span>
            <span class="security-banner-point-icon icon2"></span>
            <span class="security-banner-point-icon icon3"></span>
            <span class="security-banner-point-icon icon4"></span>
        </div>
    </div>
    <img class="w100" src="../../../images/security/security_05.png"/>
    <div class="security-info">“投资互助计划”是龙贷为保护平台全体理财人的共同权益而建立的信用风险共担机制。龙贷的所有理财人经过龙贷身份认证后，在龙贷的投资行为均适用于“投资互助计划”，理财人无需为此支付任何费用。“投资互助计划”为理财人提供了有效的风险共担机制，分散了理财人投资行为所带来的信用风险，营造了一个公平公开健康的投资环境，保护了理财人的权益。</div>
    <div class="security-tips"><div>*投资有风险，理财需谨慎。</div><div>龙贷不承诺投资项目本息100%无损失</div></div>
    <div class="security-info-li">
        <div class="security-info-title clearfloat">
            <i class="f-l security-info-title-icon icon1"></i>
            <span class="f-l">风险准备金</span>
            <i class="f-r security-info-arrow-icon icon1"></i>
            <i class="f-r security-info-arrow-icon icon2"></i>
        </div>
        <div class="security-info-con">是指在第三方平台在龙贷发布借款前，需预先按借款金额的一定比例放入其设立在第三方支付公司的“风险准备金账户”中。当理财人投资的借款一旦出现逾期时，龙贷将根据“风险准备金账户使用规则”通过“风险准备金”及时（最迟不超过30天）向理财人垫付此笔借款的剩余出借本金或本息（具体情况视投资标的类型的具体垫付规则为准）。</div>
    </div>
    <div class="security-info-li">
        <div class="security-info-title clearfloat">
            <i class="f-l security-info-title-icon icon2"></i>
            <span class="f-l">合作机构</span>
            <i class="f-r security-info-arrow-icon icon1"></i>
            <i class="f-r security-info-arrow-icon icon2"></i>
        </div>
        <div class="security-info-con">是指除风险准备金方式外，对借款人进行管理、推荐、审核或者在龙贷进行债权资产转让的合作机构，根据各方签署的法律文件，对其转让、推荐和/或审核并由投资人购买、投资的债权资产（包括但不限于机构担保标）的偿付，通过提供包括但不限于担保、补足承诺、有限垫付、回购承诺的形式，保护投资人利益的实现。</div>
    </div>
    <img class="w100 mt20 mb20" src="../../../images/security/security_06.png"/>
    <div class="security-info-li">
        <div class="security-info-title clearfloat">
            <i class="f-l security-info-title-icon icon3"></i>
            <span class="f-l">信息完整披露</span>
            <i class="f-r security-info-arrow-icon icon1"></i>
            <i class="f-r security-info-arrow-icon icon2"></i>
        </div>
        <div class="security-info-con">
            <div>龙贷自有专业的风控团队对项目进行全方位尽职调查，确保信息的真实性和合法性。并且将项目信息、借款企业情况公开透明，投资人可根据项目信息进行风险判断，进行自主投资。</div>
            <div>公司相关信息同样公开透明供投资人了解、判断。具体可见：<a class="c-fe9470" href="https://m.longdai.com/about?isApp=1&version=2">关于龙贷</a></div>
        </div>
    </div>
    <div class="security-info-li">
        <div class="security-info-title clearfloat">
            <i class="f-l security-info-title-icon icon4"></i>
            <span class="f-l">资金全程托管</span>
            <i class="f-r security-info-arrow-icon icon1"></i>
            <i class="f-r security-info-arrow-icon icon2"></i>
        </div>
        <div class="security-info-con">风险准备金和交易资金由第三方全程托管，任何资金流动均不经过龙贷平台。</div>
    </div>
    <div class="security-info-li">
        <div class="security-info-title clearfloat">
            <i class="f-l security-info-title-icon icon5"></i>
            <span class="f-l">合乎法律法规</span>
            <i class="f-r security-info-arrow-icon icon1"></i>
            <i class="f-r security-info-arrow-icon icon2"></i>
        </div>
        <div class="security-info-con">所有协议均经过专业律师起草并审核龙贷所有主营业务合同，制定充分保护投资人利益的条款。</div>
    </div>
    <img class="w100 mt20 mb20" src="../../../images/security/security_07.png"/>
    <div class="security-info-li">
        <div class="security-info-title clearfloat">
            <i class="f-l security-info-title-icon icon6"></i>
            <span class="f-l">自主开发的专业平台</span>
            <i class="f-r security-info-arrow-icon icon1"></i>
            <i class="f-r security-info-arrow-icon icon2"></i>
        </div>
        <div class="security-info-con">龙贷网站访问全程采用VeriSign 256位SSL强制加密证书进行数据加密传输，有效保护用户个人信息、账户信息以及交易记录等机密信息在网络传输过程中不被查看、修改或窃取。</div>
    </div>
    <div class="security-info-li">
        <div class="security-info-title clearfloat">
            <i class="f-l security-info-title-icon icon7"></i>
            <span class="f-l">领先的数据异地灾备</span>
            <i class="f-r security-info-arrow-icon icon1"></i>
            <i class="f-r security-info-arrow-icon icon2"></i>
        </div>
        <div class="security-info-con">同城多机房的实时备份，以及异地机房的实时备份，确保数据在任何时间的保密性、完整性及可用性。</div>
    </div>
    <div class="security-info-li">
        <div class="security-info-title clearfloat">
            <i class="f-l security-info-title-icon icon8"></i>
            <span class="f-l">完善的运维监测体系</span>
            <i class="f-r security-info-arrow-icon icon1"></i>
            <i class="f-r security-info-arrow-icon icon2"></i>
        </div>
        <div class="security-info-con">在用户的账户发生异常访问或登录时，及时锁定账户及账户资金，并联系用户核实情况，全面保护用户信息及资金。</div>
    </div>
    <div class="security-info-li">
        <div class="security-info-title clearfloat">
            <i class="f-l security-info-title-icon icon9"></i>
            <span class="f-l">全面的敏感权限管理</span>
            <i class="f-r security-info-arrow-icon icon1"></i>
            <i class="f-r security-info-arrow-icon icon2"></i>
        </div>
        <div class="security-info-con">
            <div>我们严格遵守国家相关的法律法规，对用户的隐私信息进行保护。未经您的同意，龙贷不会向任何第三方公司、组织和个人披露您的个人信息、账户信息以及交易信息（法律法规另有规定的除外）。</div>
            <div>同时，龙贷公司内部也设有严格、完善的权限管理体系，以保证每一位内部员工都只能查看自己职责和权限之内的数据和信息。</div>
        </div>
    </div>
</div>
<div class="security-mask">
    <div class="security-dialog">
        <div class="security-dialog-title"></div>
        <div class="security-dialog-con"></div>
        <div class="security-dialog-bottom">
            <i class="security-dialog-close"></i>
        </div>
    </div>
</div>
</body>
<script>

</script>

</html>