<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>新手引导</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
          draggable="false"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-itunes-app" content="app-id=900365369"/>
    <meta name="keywords" content="龙贷下载，龙贷app下载，龙贷客户端下载"/>
    <meta name="description" content=" 下载龙贷理财app（IOS版/Android版），第一时间查看最新标的，随时随地查看投资收益，首次登陆赠送5元红包和一张免费提现券。"/>
</head>
<body>
<img src="../../../images/about/userGuide/data_title.png" alt="" class="w100 mt20"/>
<div class="list">
    <div class="data-list">
        <img src="../../../images/about/userGuide/data_icon1.png" alt="" class="data-list-icon"/>
        <span>累计成交金额</span>
        <span class="data-list-data" th:text="${totalTurnover}"></span>
    </div>
    <div class="data-list">
        <img src="../../../images/about/userGuide/data_icon2.png" alt="" class="data-list-icon"/>
        <span>加权平均年化</span>
        <span class="data-list-data" th:text="${annualYield}"></span>
    </div>
    <div class="data-list">
        <img src="../../../images/about/userGuide/data_icon3.png" alt="" class="data-list-icon"/>
        <span>投资人复投率</span>
        <span class="data-list-data" th:text="${investmentRate}"></span>
    </div>
    <a href="/v2/report/realTimeData" class="know-more">了解更多</a>
</div>
<div class="pro-rel">
    <img src="../../../images/about/userGuide/choose_longdai01.jpg" alt="" class=" mt20 w100"/>
    <a href="https://m.longdai.com/v2/about/security" class="choose-dialog"></a>
</div>
<div class="list">
    <div class="product-list">
        <div class="product-header clearfloat">
            <img src="../../../images/about/userGuide/product_ljb_icon.png" alt="" class="product-list-icon"/>
            <span>龙聚宝</span>
            <span class="product-list-btn triangle-t"></span>
        </div>
        <div class="product-content hide">
            <img src="../../../images/about/userGuide/product_ljb.png" alt="" class="w100"/>
            <ul class="product-content-ul">
                <li>每月回报收益</li>
                <li>系统智能投标，方便省事</li>
                <li>本金循环复投，提高资金利用率</li>
                <li>100元起投，满足各类人群理财需求</li>
                <li>多种期限可选，期满收回本金</li>
            </ul>
        </div>
    </div>
    <div class="product-list">
        <div class="product-header clearfloat">
            <img src="../../../images/about/userGuide/product_sbtz_icon.png" alt="" class="product-list-icon"/>
            <span>散标投资</span>
            <span class="product-list-btn triangle-t"></span>
        </div>
        <div class="product-content hide">
            <img src="../../../images/about/userGuide/product_sbtz.png" alt="" class="w100"/>
            <ul class="product-content-ul">
                <li>投资更安全</li>
                <li>托管的风险准备金，确保本息及时兑付</li>
                <li>期限灵活，1-12个月任您选择</li>
                <li>投资门槛低，50元起投</li>
                <li>顶级风控完善的贷前调查和投后管理</li>
            </ul>
        </div>
    </div>
    <div class="product-list">
        <div class="product-header clearfloat">
            <img src="../../../images/about/userGuide/product_xyb_icon.png" alt="" class="product-list-icon"/>
            <span>小额信用标</span>
            <span class="product-list-btn triangle-t"></span>
        </div>
        <div class="product-content hide">
            <img src="../../../images/about/userGuide/product_xyb.png" alt="" class="w100"/>
            <ul class="product-content-ul">
                <li>等额本息还款</li>
                <li>授信额度低（6,000元以内），风险可控</li>
                <li>风险准备金机制，先行垫付本息</li>
            </ul>
        </div>
    </div>
    <div class="product-list">
        <div class="product-header clearfloat">
            <img src="../../../images/about/userGuide/product_clzyb_icon.png" alt="" class="product-list-icon"/>
            <span>车辆质押标</span>
            <span class="product-list-btn triangle-t"></span>
        </div>
        <div class="product-content hide">
            <img src="../../../images/about/userGuide/product_clzyb.png" alt="" class="w100"/>
            <ul class="product-content-ul">
                <li>1-3个月短期理财，可能随时提前还款</li>
                <li>质押车辆易变现，有效降低逾期风险</li>
                <li>由合作机构提供逾期债权的回购承诺</li>
            </ul>
        </div>
    </div>
    <div class="product-list">
        <div class="product-header clearfloat">
            <img src="../../../images/about/userGuide/product_zqzr_icon.png" alt="" class="product-list-icon"/>
            <span>债权转让</span>
            <span class="product-list-btn triangle-t"></span>
        </div>
        <div class="product-content hide">
            <img src="../../../images/about/userGuide/product_zqzr.png" alt="" class="w100"/>
            <ul class="product-content-ul">
                <li>转让债权快速收回资金，增加流动性</li>
                <li>债权持有1天后即可进行转让</li>
                <li>债权转让次数不限，也可转让一部分</li>
                <li>寻找折价债权，获得更多折让收益</li>
                <li>无投资门槛，更适合获得短期收益</li>
            </ul>
        </div>
    </div>
</div>
<img src="../../../images/about/userGuide/investment_longdai.png" alt="" class="w100 mt20"/>
<span class="userGuideButton">马上注册领红包!</span>
<footer class="footer">
    <div class="footer-title">仍有疑问?希望我们有幸知晓:</div>
    <a href="longdai://feed" class="footer-list w47">
        <img src="../../../images/about/userGuide/footer_suggest.png" alt="" class="footer-list-icon"/>
        <span>意见反馈</span>
    </a>
    <a href="https://m.longdai.com/help?isApp=1&version=2" class="footer-list w47 text-right">
        <img src="../../../images/about/userGuide/footer_help.png" alt="" class="footer-list-icon"/>
        <span>帮助中心</span>
    </a>
    <a href="tel:4009518518" class="footer-list w100">
        <img src="../../../images/about/userGuide/footer_phone.png" alt="" class="footer-list-icon"/>
        <span>热线电话: 4009-518-518</span>
    </a>
</footer>
<div th:include="include/include :: footer"></div>
</body>
</html>