*{
    margin: 0;
    padding: 0;
}
body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    color: #fff;
    margin: 0;
    background-color: rgb(242,238,233);
    font-size: 14px;
    max-width: 750px;
    color: #666;
    margin: 0 auto;
}
a,a:hover,a:active{
    /*color: #666;*/
    text-decoration: none;
    -webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
a,img,button,input,textarea,span,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}
.w30{
    width: 30%;
}
.w70{
    width: 70%;
}
.w100{
    width: 100%;
}
.mt15{
    margin-top: 15px;
}
.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
._mr5{
    margin-right: 5%;
}
.pl3{
    padding-left: 3px;
}
._pl5{
    padding-left:5%;
}
._pr6{
    padding-right: 6%;
}
._pr8{
    padding-right: 8%;
}
.font-18{
    font-size: 18px;
}
.color-brown{
    color: rgb(138,104,124);
}
.experience-contain{
    padding: 0 5%;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: justify;
}
.clearfloat:after{
    display:block;
    clear:both;
    content:".";
    visibility:hidden;
    height:0;
}
.clearfloat{
    zoom:1;
}
.f-l{
    float: left;
    display: inline;
}
.f-r{
    float:right;
    display: inline;
}
.center{
    margin: 0 auto;
}
.experience{
    width: 100%;
    background: rgb(242,238,233);
    color: rgb(88,66,66);
    font-size: 14px;
    padding-bottom: 50px;
}
.experience-list{
    padding:20px 0 15px;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 1px 3px 5px rgb(223,217,211);
    -moz-box-shadow: 1px 3px 5px rgb(223,217,211);
    -webkit-box-shadow: 1px 3px 5px rgb(223,217,211);
}
.experience-title{
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}
.experience-button{
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    background: rgb(36,179,115);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.experience-join{
    border-top: 1px solid rgb(225,218,207);
}
.experience-j-i{
    border-bottom: 1px solid rgb(235,235,235);
    height: 63px;
    line-height: 63px;
}
ul.experience-ul{
    list-style-type: none;
}
ul.experience-ul>li{
    padding-bottom: 5px;
}
.experience-icon{
    width: 16px;
    height: 16px;
    margin-top: 23px;
}
.ex-ll{
    color: rgb(147,147,147);
    text-align: left;
    letter-spacing: 1px;
    height: 40px;
    line-height: 40px;
}
.experience-circle{
    width: 35px;
    height: 35px;
    line-height: 18px;
    border:rgb(229,223,220);
    background: rgb(254,249,243);
    color: rgb(168,63,0);
    text-align: center;
    padding:15px;
    margin-top: 17px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-box-shadow: 0 0 4px 5px rgb(238,238,238);
    -moz-box-shadow: 0 0 4px 5px rgb(238,238,238);
    box-shadow: 0 0 4px 5px rgb(238,238,238);
}
.ex-status{
    width: 70px;
    margin-top: 40px;
    margin-right: 10px;
}
.ex-status-line{
    display: inline-block;
    width:7px;
    height: 0;
    border-top: 2px solid #999;
    margin-top: 12px;
}
.ex-status-text{
    display: inline-block;
    width: 50px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    color: #999;
}


/* 进度条样式 */

.circle {
    position: relative;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    text-align: center;
    color: #b2643e;
    margin-top: 15px;
    /*background-image: url("/v2/images/ticket/experience/progress_round2@2x.png");*/
    -webkit-background-size:contain;
    background-size:contain;
    margin-right: 10px;
}
.circle-bg{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 50%;
    background-color: #fdf7f0;
    -webkit-box-shadow: 0 0 3px rgba(221,211,208,0.8);
    -moz-box-shadow: 0 0 3px rgba(221,211,208,0.8);
    box-shadow: 0 0 3px rgba(221,211,208,0.8);
    z-index: 10;
}
.circle .left-and-right{
    width: 76px;
    height: 76px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #eee;
    border-radius: 38px;
}

.circle .left, .circle .right {
    width: 38px;
    height: 76px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #eee;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.circle .left{
    -webkit-border-radius:38px 0 0 38px;
    -moz-border-radius:38px 0 0 38px;
    border-radius:38px 0 0 38px;
    -webkit-transform-origin:38px 0;
    -moz-transform-origin:38px 0;
    -ms-transform-origin:38px 0;
    -o-transform-origin:38px 0;
    transform-origin:38px 0;
}
.circle .right {
    left: 38px;
    -webkit-border-radius:0 38px 38px 0;
    -moz-border-radius:0 38px 38px 0;
    border-radius:0 38px 38px 0;
    -webkit-transform-origin:0 38px;
    -moz-transform-origin:0 38px;
    -ms-transform-origin:0 38px;
    -o-transform-origin:0 38px;
    transform-origin:0 38px;
}

/*!* 进度显示文字样式 *!*/
.circle .circle-text {
    position: absolute;
    width: 35px;
    height: 40px;
    line-height: 20px;
    top:18px;
    left: 20px;
    z-index: 10;
}
.experience-j-li1{
    padding-left: 5%;
    margin-top: -2px;
}
.experience-j-li2{
    padding-left: 2%;
}
.experience-j-li3{
    padding-left: 2%;
}
.c-8e6776{
    color: #8e6776;
}
.mt_2{
    margin-top: -2px;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.hide{
    display:none;
}
.pdb0{
    padding-bottom: 0px;
}