body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    color: #fff;
    margin: 0;
    background-color: #fff;
    font-size: 14px;
    max-width: 750px;
    color: #666;
    margin: 0 auto;
}
a,a:hover,a:active{
    color: #666;
    text-decoration: none;
    -webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
a,img,button,input,textarea,span,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}
.clearfloat:after{
    display:block;
    clear:both;
    content:".";
    visibility:hidden;
    height:0;
}
.clearfloat{
    zoom:1;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}
.header{
    font-size: 16px;
    letter-spacing: 2px;
    background-color: #c34b53;
    color: #FFFDEC;
    position: relative;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.header-icon{
    width: 30px;
    margin-top: 10px;
}
.header-name{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.header-l{
    width: 50px;
    height: 50px;
    position: absolute;
    top:0;
    left: 0;
}
.header-r{
    width: 70px;
    height: 50px;
    position: absolute;
    top:0;
    right: 0;
    font-size: 14px;
}



.ticket-nav{
    text-align: center;
    padding: 20px 0;
}
.ticket-nav-item{
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid transparent;
    color: #d5b358;
}
.ticket-nav-item.active{
    color: #9e6f48;
    border-bottom: 2px solid #9e6f48;
}

.ticket-li{
    width: 136px;
    height: 149px;
    background-image: url("../../images/ticket/coupon_jiaxi_normal.png");
    -webkit-background-size:contain;
    background-size:contain;
    background-repeat: no-repeat;
    margin:  0 auto 20px;
    text-align: center;
    position: relative;
}
.ticket-li.jiaxi{
    color: #a96a54;
    background-image: url("../../images/ticket/coupon_jiaxi_normal.png");
}
.ticket-li.jiaxi-active{
    color: #672c2c;
    width: 140px;
    height: 152px;
    background-image: url("../../images/ticket/coupon_jiaxi_choose.png");
    margin-bottom: 17px;
}
.ticket-li.jiaxi-will{
    color: #ac8056;
    background-image: url("../../images/ticket/coupon_jiaxi_will.png");
}
.ticket-li.jiaxi-used,.ticket-li.tixian-used,.ticket-li.tiyanjin-used{
    color: #999;
    background-image: url("../../images/ticket/coupon_used.png");
}
.ticket-li.jiaxi-passed,.ticket-li.tixian-passed,.ticket-li.tiyanjin-passed{
    color: #999;
    background-image: url("../../images/ticket/coupon_invalid.png");
}
.ticket-li.tixian{
    color: #6e8d5d;
    background-image: url("../../images/ticket/coupon_tixian_normal.png");
}
.ticket-li.tixian-active{
    color: #2a4c17;
    width: 140px;
    height: 152px;
    background-image: url("../../images/ticket/coupon_tixian_choose.png");
    margin-bottom: 17px;
}
.ticket-li.tiyanjin{
    color: #a95454;
    background-image: url("../../images/ticket/coupon_tiyanjin.png");
}
.ticket-li.tiyanjin-active{
    color: #2a4c17;
    width: 140px;
    height: 152px;
    background-image: url("../../images/ticket/coupon_tiyanjin.png");
    margin-bottom: 17px;
}

.ticket-li.redbag-null{
    background-image: url("../../images/ticket/hongbao0.png");
}
.ticket-li.redbag{
    background-image: url("../../images/ticket/hongbao1.png");
    color: #fdfea5;
}
.ticket-li.redbag-used{
    background-image: url("../../images/ticket/hongbao2.png");
    color: #fff;
}
.ticket-li.redbag-passed{
    background-image: url("../../images/ticket/hongbao3.png");
    color: #fff;
}
.ticket-li.redbag-active{
    position: relative;
}
.ticket-li.jiaxi-null{
    background-image: url("../../images/ticket/coupon_invalid.png");
}
.ticket-li.redbag-active .redbag-active-icon{
    width: 150px;
    height: 163px;
    background-image: url("../../images/ticket/hongbao_nobg@2x.png");
    background-repeat: no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
    position: absolute;
    top: -8px;
    left: -7px;
    z-index: -1;
}
.ticket-li.redbag-active .redbag-active-icon2{
    width: 60px;
    height: 60px;
    background-image: url("../../images/ticket/hongbao_choose@2x.png");
    background-repeat: no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
    position: absolute;
    bottom: -4px;
    right: -4px;
    z-index: 10;
}



.ticket-li-money{
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    color:#ff734d;
    position: absolute;
    top: 0;
    left: 0;
}
.ticket-li-add{
    vertical-align: 2px;
}
.ticket-li-num{
    font-size: 24px;
    font-family: helvetica;
}
.ticket-li-name{
    width: 100%;
    height: 27px;
    line-height: 27px;
    font-size: 16px;
    position: absolute;
    top: 65px;
    left: 0;
}
.ticket-li-info{
    width: 100%;
    font-size: 12px;
    position: absolute;
    top: 92px;
    left: 0;
}
.ticket-li-tip{
    width: 100%;
    font-size: 12px;
    position: absolute;
    bottom: 25px;
    left: 0;
}
.ticket-li-time{
    width: 100%;
    font-size: 12px;
    position: absolute;
    bottom: 7px;
    left: 0;
}
.ticket-li-rate{
    width: 100%;
    font-size: 12px;
    position: absolute;
    bottom: 7px;
    left: 0;
    text-align: left;
    padding-left: 7px;
}

.jiaxi .ticket-li-money{
    color:#ff734d;
}
.tixian .ticket-li-money,.tixian-active .ticket-li-money{
    color:#6aac29;
}
.jiaxi-will .ticket-li-money{
    color:#e29952;
}
.jiaxi-passed .ticket-li-money,.tixian-passed .ticket-li-money,.tiyanjin-passed .ticket-li-money{
    color:#ccc;
}
.tixian-used .ticket-li-money{
    color: #8cb069;
}
.jiaxi-used .ticket-li-money,.tiyanjin-used .ticket-li-money{
    color:#e68f78;
}
.jiaxi-null .ticket-li-num{
    color: #bbb;
    font-size: 30px;
    letter-spacing: 3px;
}
.jiaxi .ticket-li-time{
    color: #dc9176;
}
.tixian .ticket-li-time{
    color: #79ae4e;
}
.jiaxi-active .ticket-li-time,.tixian-active .ticket-li-time{
    color: #fffedc;
}
.jiaxi-will .ticket-li-time{
    color: #d8b06f;
}
.tiyanjin .ticket-li-time{
    color: #dc8977;
}
.jiaxi .ticket-li-info{
    font-size: 12px;
}
.jiaxi-passed .ticket-li-info,.jiaxi-used .ticket-li-info,.tixian-passed .ticket-li-info,.tixian-used .ticket-li-info{
    font-size: 16px;
}

.redbag .ticket-li-money,.redbag-active .ticket-li-money,.redbag-used .ticket-li-money{
    color: #b94d3e;
    line-height: 90px;
}
.redbag-passed .ticket-li-money{
    color: #bbb;
    line-height: 90px;

}
.redbag .ticket-li-name,.ticket-li-name .ticket-li-name{
    font-size: 14px;
    top: 71px;
}
.redbag .ticket-li-time,.redbag-active .ticket-li-time{
    width: 88%;
    bottom: 28px;
    text-align: left;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
}
.redbag-passed .ticket-li-time,.redbag-used .ticket-li-time{
    bottom: 20px;
}
.ticket-null-txt{
    text-align: center;
    padding-bottom: 20px;
    line-height: 22px;
}
.redbag-sum{
    color: #8b6f7a;
    padding-bottom: 20px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    display: none;
}
.redbag-sum-con{
    width: 136px;
    margin: 0 auto;
}
.ticket-redbag{
    display: none;
}
.ticket-more{
    width: 110px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    color: #8EACDD;
}

.w50{
    display: block;
    width: 50%;
}