body{
    font-family: '微软雅黑',YaHei,tahoma,arial;
    background-color: #fff3d8;
    font-size: 14px;
    max-width: 750px;
    color: #666;
    letter-spacing: 1px;
    margin: 0 auto;
    padding-bottom: 90px;
}
input,input:focus{
    outline: 0;
    border: none;
}
::-webkit-input-placeholder {
    font-size: 12px;
    color:#999;
}
::-moz-placeholder {
    font-size: 12px;
    color:#999;
}
:-ms-input-placeholder {
    font-size: 12px;
    color:#999;
}
input:-moz-placeholder {
    color:#999;
}
.clearfloat:after{
    display:block;
    clear:both;
    content:".";
    visibility:hidden;
    height:0;
}
.clearfloat{
    zoom:1;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}
.mt10{
    margin-top: 10px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.w100{
    width: 100%;
}
.font16{
    font-size: 16px;
}
.font18{
    font-size: 18px;
}
.landing-banner{
    font-size: 0;
}
.landing-list{
    width: 90%;
    padding: 15px 5%;
    position: relative;
}
.list-title{
    color: #9a3b12;
    text-align: center;
    padding-bottom: 15px;
}
.about-box{
    width: 47%;
    height: 77px;
    background: #ffdea7;
    text-align: center;
}
.about-box-title{
    font-size: 12px;
    color: #d28546;
    margin-top: 15px;
}
.about-box-count{
    font-size: 16px;
    color: #bd4918;
    margin-top: 6px;
}
.landing-list-icon{
    width: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: 2;
}
.landing-list-icon.left{
    margin-left: -95px;
}
.landing-list-icon.right{
    margin-left: 45px;
}
.landing-list-icon.left1{
    margin-left: -125px;
}
.landing-list-icon.right2{
    margin-left: 80px;
}
.choose-box{
    width: 50%;
    text-align: center;
}
.choose-box-icon{
    display: block;
    width: 50%;
    max-width: 120px;
    margin: 0 auto;
}
.choose-box-title{
    font-size: 14px;
    color: #be7016;
    margin-bottom: 3px;
}
.choose-box-text{
    font-size: 12px;
    color: #ca965b;
}
.register-list{
    margin-top: 15px;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.register-list.input{
    width: 100%;
}
.register-list.code{
    width: 70%;
}
.register-list-input{
    width: 90%;
    font-size: 14px;
    color: #333;
    padding-left: 5%;
}
.register-list-code{
    width: 70%;
    font-size: 14px;
    color: #333;
    margin-top: 11px;
    padding-left: 5%;
}
.register-list-code-image{
    height: 35px;
    width: 71px;
    margin-top: 18px;
    margin-right: 2px;
}
.register-list-protocol{
    font-size: 14px;
    color: #666;
    letter-spacing: 0px;
}
.register-list-protocol a{
    color: #768fe9;
    text-decoration: none;
}
.register-btn{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #e0944a;
    text-align: center;
    letter-spacing: 3px;
    background: #ffe68a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.register-btn.active{
    color: #ba3916;
    background: #ffd948;
}
.register-btn-text{
    display: block;
    color: #c04600;
    text-align: center;
    margin-top: 10px;
}
.landing-footer{
    width: 90%;
    position: fixed;
    bottom: 0;
    z-index: 3;
    background: rgba(0,0,0,.4);
    padding: 15px 5%;
}