*{
    margin: 0;
    padding: 0;
}
body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    background-color: #fff;
    font-size: 14px;
    max-width: 750px;
    color: #666;
    font-weight: normal;
    margin: 0 auto;
}
a,a:hover,a:active{
    color: #666;
    text-decoration: none;
    -webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
a,img,button,input,textarea,span,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}
.color-v1{
    color: rgb(251,0,2);
}
.color-v2{
    color: rgb(251,56,8);
}
.color-v3{
    color: rgb(255,108,17);
}
.color-v4{
    color: rgb(255,145,27);
}
.color-v5{
    color: rgb(255,194,40);
}
.record{
    width: 90%;
    margin: 0 5%;
}
.record-table{
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-collapse: collapse;
}
.record-table th{
    height: 40px;
    line-height: 40px;
    color: rgb(142,142,142);
    font-size: 12px;
}
.record-table td{
    height: 35px;
    line-height: 35px;
}