*{
    margin: 0;
    padding: 0;
}
body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    background-color: #fff;
    font-size: 14px;
    max-width: 750px;
    color: #666;
    font-weight: normal;
    margin: 0 auto;
    letter-spacing: 1px;
}
a,a:hover,a:active{
    color: #666;
    text-decoration: none;
    -webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
a,img,button,input,textarea,span,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}
.f-r {
    float: right;
    display: inline;
}
.clearfloat:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
}

.clearfloat {
    zoom: 1;
}
.text-left {
    text-align: left;
}
.invite{
    width: 90%;
    margin: 30px auto;
}
.invite-select{
    width: 25%;
    color: #8d6640;
    border: 1px dashed;
    height: 25px;
    line-height: 25px;
    outline: none;
    background: #f8f8f8;
    text-indent: 15px;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.invite-table{
    width: 100%;
    font-size: 12px;
    text-align: center;
    border-collapse: collapse;
    margin-top: 10px;
}
.invite-table th{
    height: 35px;
    border: 1px solid rgb(225,218,207);
}
.invite-table td{
    height: 30px;
    border: 1px solid rgb(225,218,207);
}
.invite-table-td{
    padding: 3px;
    line-height: 17px;
}
.invite-rule{
    padding-top: 20px;
    padding-left: 14px;
    line-height: 24px;
    text-align: justify;
    text-indent:  -14px;
    color: #8d6640;
}