*{
    margin: 0;
    padding: 0;
}
body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    background-color: #fff;
    font-size: 14px;
    max-width: 750px;
    color: #666;
    font-weight: normal;
    margin: 0 auto;
}
a,a:hover,a:active{
    color: #666;
    text-decoration: none;
    -webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
a,img,button,input,textarea,span,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt25{
    margin-top: 25px;
}
.ml5{
    margin-left: 5px;
}
.justify{
    text-align: justify;
}
.color-v1{
    color: rgb(251,0,2);
}
.color-v2{
    color: rgb(251,56,8);
}
.color-v3{
    color: rgb(255,108,17);
}
.color-v4{
    color: rgb(255,145,27);
}
.color-v5{
    color: rgb(255,194,40);
}
.color333{
    color: #333;
}
.font16{
    font-size: 16px;
}
.center{
    text-align: center;
}
.hyRules{
    background: rgb(245,243,237);
    letter-spacing: 1px;
}
.hyRules-lt{
    border-top: 1px solid rgb(225,218,207);
}
.hyRules-lb{
    border-bottom: 1px solid rgb(225,218,207);
}
.hyRules-part{
    padding-left: 5%;
    background: #fff;
}
.hyRules-part-title{
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: rgb(158,112,74);
    border-bottom: 1px solid rgb(225,218,207);
}
.hyRules-part-content{
    margin-right: 5%;
    padding:15px 0 25px;
    line-height: 22px;
}
.hyRules-login{
    display: block;
    color: rgb(108,142,211);
    text-align: center;
    font-size: 16px;
}
.hyRules-login:hover, .hyRules-login:active{
    color: rgb(108,142,211);
}
.hyRules-note{
    font-size: 12px;
    color: rgb(160,160,160);
    line-height: 20px;
}
.hyRules-table{
    width: 100%;
    font-size: 14px;
    text-align: center;
    border-collapse: collapse;
}
.hyRules-table th{
    height: 35px;
    border: 1px solid rgb(225,218,207);
}
.hyRules-table td{
    height: 30px;
    border: 1px solid rgb(225,218,207);
}
.hyRules-ul{
    padding-left: 20px;
    text-align: justify;
    list-style-type: decimal;
}
.hyRules-part-content-title{
    text-align: center;
    color: #000;
    margin-bottom: 10px;
}
