<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <title>
        <% title %>
    </title>

    <!--<link rel="stylesheet" href="src/core/css/normalize.css" />-->
    <link rel="stylesheet" href="/src/app/core/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vendor/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="/src/app/core/css/login.css"/>


    <!--[if lt IE 9]>
    <script src="/src/app/core/js/html5shiv.min.js"></script>
    <script src="/src/app/core/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="login">
    <img src="/src/images/background-1.jpg" alt="" class="login-bg">
</div>
<div class="container pt100">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text text-center">
            <h1 class="color-while"><strong>学生管理系统</strong>登陆页</h1>
            <div class="container pt100p">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text text-center">
                        <h1><strong>学生管理系统</strong>登陆页</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 login-box">
                        <div class="login-top">
                            <h3>Login to our site</h3>
                            <p>Enter your username and password to log on:</p>
                        </div>
                        <div class="login-bottom">
                            <form role="form" action="" method="post" class="login-form">
                                <div class="form-group">
                                    <label class="sr-only" for="login-username">Username</label>
                                    <input type="text" name="login-username" placeholder="Username..."
                                           class="form-control"
                                           id="login-username">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="login-password">Password</label>
                                    <input type="password" name="login-password" placeholder="Password..."
                                           class="form-password form-control" id="login-password">
                                </div>
                                <button type="button" class="btn btn-success login-submit" name="login-submit">Sign In
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</body>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/sweetalert/dist/sweetalert.min.js"></script>
<script>
    (function ($) {
        $(function () {
            $('.login-submit').on('click', function () {
                var userName = $('#login-username').val(),
                        passWord = $('#login-password').val();

                if (userName && passWord) {
                    $.ajax({
                        url: '/login?userName=' + userName + '&password=' + passWord,
                        type: "GET",
                        success: function (data) {
                            if (data.code == 200) {
                                localStorage.userName = userName;
                                localStorage.password = passWord;
                                if (data.code == 200) {

                                    localStorage.userName = userName;
                                    localStorage.password = passWord;

                                    swal({
                                        title: "登录成功",
                                        type: "success",
                                        showCancelButton: true,
                                        confirmButtonColor: "#AEDEF4",
                                        confirmButtonText: "进入系统",
                                        closeOnConfirm: true
                                    }, function () {
                                        window.location.href = "/";
                                    });
                                }
                                else {
                                    swal("登录失败", "your name or password error......");
                                }


                            }
                            else {
                                swal("登录失败", "your name or password error......");
                            }
                        }, error: function () {
                            swal("服务器傲娇了", "your can wait a moment......");
                        }
                    })

                }

                else {
                    swal("登录失败", "your name or password error......");
                }
            });
        })
    })
    (jQuery);
</script>
</html>