body{
    font-size:14px;
    color: rgb(83,83,83);
    background-color:#fff;
}
.t-c-red{
    color: rgb(250,53,20);
}
.t-c-grey{
    color:rgb(146,148,150);
}
.t-c{
    text-align: center;
}
.t-r{
    text-align: center;
}
.p-l{
    float: left;
    display: inline;
}
.p-r{
    float: right;
    display: inline;
}
.clearfloat:after{
    display:block;
    clear:both;
    content:".";
    visibility:hidden;
    height:0;
}
.clearfloat{
    zoom:1;
}
.center{
    margin:0 auto;
}
.longdai-twoyear{
    width:100%;
}
.header{
    width:100%;
    height:50px;
    background-color: rgb(179,52,64);
}
.banner{
    width:100%;
}
.active-time{
    width:100%;
}
.active-title{
    width:90px;
    padding-top:15px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    font-size:20px;
    font-weight:bold;
}
.active-title-line{
    position: absolute;
    bottom:-5px;
    left:15px;
    width:60px;
    border-bottom:1px solid rgb(244,79,14);
}
.active-time-data{
    width:80%;
    margin-left:10%;
    margin-top:30px;
    margin-bottom: 30px;
}
.active-record{
    width:100%;
    background-color:rgb(225,246,255);
}
.active-table{
    width:90%;
    padding:20px 0 30px 0;
}
.active-table-title{
    font-size:18px;
    font-weight:bold;
    padding-bottom: 5px;
}
.active-table-group{
    height:24px;
    line-height:24px;
}
.active-table-one{
    width:70px;
}
.active-table-two{
    width:120px;
}
.active-table-three{
    width:90px;
}
.active-rule{
    width:100%;
}
.active-rule-group{
    margin-top: 30px;
    width:90%;
    color:rgb(147,147,147);
    line-height:22px;
}
.active-rule-icon{
    height:30px;
}
.longdai-button{
    width:50%;
    height:40px;
    line-height:40px;
    text-align: center;
    background-color:rgb(242,78,69);
    color: #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.s-h{
    margin-top:10px;
}
.active-invitation-group{
    width:85%;
    margin-top:15px;
}
.active-invitation-group{
    width:90%;
    padding:15px 10px;
    background:rgb(225,246,255) ;
    border:1px dashed rgb(245,120,93);

}
.active-invitation-title{
    width:40%;
    height:40px;
    line-height:40px;
    margin-left:30%;
    background: rgb(244,79,14);
    -webkit-border-radius:30%;
    -moz-border-radius:30%;
    border-radius:30%;
    color: #fff;
    font-size:18px;
    text-align: center;
}
.active-invitation-block{
    margin-top:10px;
}
.active-invitation-icon{
    width:25%;
}
.active-invitation-text{
    width:70%;
    margin-top:10px;
}
.m-h{
    margin-top:15px;
    margin-bottom:20px;
}
.footer{
    width:90%;
    background-color: rgb(247,247,247);
    line-height:24px;
    padding-bottom: 20px;
}
.footer-title{
    font-size:16px;
}
.footer-text{
    font-size:14px;
}