.operation-nav-li.active .active-icon,.operation-sub-icon,.tf-bg,.tf-icon,.tf-sub-icon {
    background-repeat: no-repeat
}

body {
    font: 14px/1.5 '\5FAE\8F6F\96C5\9ED1',YaHei,helvetica,tahoma,arial,"Hiragino Sans GB",\5b8b\4f53
}

* {
    margin: 0;
    padding: 0
}

.f-l {
    float: left
}

.f-r {
    float: right
}

.clearfloat:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0
}

.clearfloat {
    zoom:1}

.block {
    display: block
}

.bg-miusic {
    position: fixed;
    left: 10px;
    bottom: 50px;
    z-index: 10
}

.main-container {
    position: relative
}

/*.bg-shiyi {*/
    /*display: inline-block;*/
    /*width: 100%;*/
    /*height: 423px;*/
    /*background-position: 50% 50%;*/
    /*position: absolute*/
/*}*/

/*.shiyi_1 {*/
    /*top: 0;*/
    /*height: 423px;*/
    /*background-image: url(/images/core/shiyi/shiyi_1.df63e1ee.jpg)*/
/*}*/

/*.shiyi_2 {*/
    /*top: 423px;*/
    /*height: 522px;*/
    /*background-image: url(/images/core/shiyi/shiyi_2.199eb3c5.jpg)*/
/*}*/

/*.shiyi_3 {*/
    /*top: 945px;*/
    /*height: 422px;*/
    /*background-image: url(/images/core/shiyi/shiyi_3.ebdfa123.png)*/
/*}*/

/*.shiyi_4 {*/
    /*top: 1367px;*/
    /*height: 570px;*/
    /*background-image: url(/images/core/shiyi/shiyi_4.c033a348.png)*/
/*}*/

/*.shiyi_5 {*/
    /*top: 1937px;*/
    /*height: 654px;*/
    /*background-image: url(/images/core/shiyi/shiyi_5.2648830c.png)*/
/*}*/

/*.shiyi_6 {*/
    /*top: 2591px;*/
    /*height: 798px;*/
    /*background-image: url(/images/core/shiyi/shiyi_6.747787b8.png)*/
/*}*/

/*.shiyi_7 {*/
    /*top: 3389px;*/
    /*height: 828px;*/
    /*background-image: url(/images/core/shiyi/shiyi_7.95507dba.png)*/
/*}*/

/*.shiyi_8 {*/
    /*top: 4217px;*/
    /*height: 985px;*/
    /*background-image: url(/images/core/shiyi/shiyi_8.458adf7e.png)*/
/*}*/

/*.shiyi_9 {*/
    /*top: 5202px;*/
    /*height: 564px;*/
    /*background-image: url(/images/core/shiyi/shiyi_9.2fd612b6.png)*/
/*}*/

/*.shiyi_10 {*/
    /*top: 5766px;*/
    /*height: 389px;*/
    /*background-image: url(/images/core/shiyi/shiyi_10.6abb615c.png)*/
/*}*/

.operation-sub {
    width: 130px;
    top: 142px;
    position: fixed;
    z-index: 100;
    display: none
}

.operation-nav {
    list-style-type: none;
    width: 100px;
    height: 406px;
    margin-top: -3px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700
}

.operation-sub-icon {
    width: 10px;
    height: 406px;
    background-image: url(/images/core/shiyi/icon1.48d4e9ba.png)
}

.operation-nav-li {
    color: #9e9e9e;
    height: 49px;
    cursor: pointer
}

.operation-nav-f {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #9e9e9e;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    margin-top: -10px
}

.operation-nav-li.active {
    color: #1b6194;
    position: relative
}

.operation-nav-li.active .operation-nav-f {
    background-color: #1b6194
}

.operation-nav-li.active .active-icon {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url(/images/core/shiyi/icon2.46a36c26.png);
    left: -30px;
    top: 3px
}

.operation-nav-li.active .active-icon2 {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 8px;
    background-image: url(/images/core/shiyi/icon3.079a7ff0.png);
    left: -35px;
    top: 5px;
    background-repeat: no-repeat
}

.tf-icon,.tf-sub-icon,.tf-sub-li.active .active-icon {
    background-image: url(../image/1.png)
}

.operation-nav-li.active .top5 {
    top: 5px
}

.operation-nav-li.active .top7 {
    top: 7px
}

.height50 {
    height: 50px
}

.tf-con {
    background-color: #fff;
    margin: 0
}

.tf-sub {
    width: 150px
}

.tf-sub-li {
    height: 40px
}

.tf-sub-icon {
    width: 13px;
    height: 253px;
    background-position: -3px 0
}

.tf-icon {
    display: inline-block;
    width: 64px;
    height: 16px;
    background-position: 0 0
}

.tf-icon1 {
    background-position: -23px 0
}

.tf-icon2 {
    background-position: -23px -40px
}

.tf-icon3 {
    background-position: -23px -79px
}

.tf-icon4 {
    background-position: -23px -120px
}

.tf-icon5 {
    width: 82px;
    background-position: -23px -160px
}

.tf-icon6 {
    width: 82px;
    background-position: -23px -200px
}

.tf-icon7 {
    width: 82px;
    background-position: -23px -240px
}

.tf-sub-li.active .active-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: 0 -283px;
    position: absolute;
    left: -26px;
    top: -1px
}

.tf-sub-li.active .tf-icon1 {
    background-position: -23px -285px
}

.tf-sub-li.active .tf-icon2 {
    background-position: -23px -325px
}

.tf-sub-li.active .tf-icon3 {
    background-position: -23px -365px
}

.tf-sub-li.active .tf-icon4 {
    background-position: -23px -405px
}

.tf-sub-li.active .tf-icon5 {
    background-position: -23px -445px
}

.tf-sub-li.active .tf-icon6 {
    background-position: -23px -485px
}

.tf-sub-li.active .tf-icon7 {
    background-position: -23px -525px
}

.tf-bg {
    background-position: center top
}

.tf-1 {
    height: 618px;
    background-image: url(../image/15report_www_01.png)
}

.tf-2 {
    height: 516px;
    background-image: url(../image/15report_www_02.png)
}

.tf-3 {
    height: 899px;
    background-image: url(../image/15report_www_03.png)
}

.tf-4 {
    height: 1330px;
    background-image: url(../image/15report_www_04.png)
}

.tf-5 {
    height: 1045px;
    background-image: url(../image/15report_www_05.png)
}

.tf-6 {
    height: 768px;
    background-image: url(../image/15report_www_06.png)
}

.tf-7 {
    height: 626px;
    background-image: url(../image/15report_www_07.png)
}

.tf-8 {
    height: 1682px;
    background-image: url(../image/15report_www_08.png)
}

.margin-auto {
    margin: 0 auto
}
