*{
    margin: 0;
    padding: 0;
}
body, html {
    /*font-family: Helvetica,Droid Sans,Segoe,tahoma,arial;*/
    background-color: #f5f4f1;
    font-size: 14px;
    max-width: 460px;
    max-height: 780px;
    color: #666;
    margin: 0 auto;
    overflow: hidden;
    letter-spacing: 2px;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
}
.hide{
    display: none;
}
.font30{
    font-size: 30px;
}
.w100{
    display: block;
    width: 100%;
}
/*.mt25{*/
    /*margin-top: 25px;*/
/*}*/
/*.mt60{*/
    /*margin-top: 60px;*/
/*}*/
/*.mt95{*/
    /*margin-top: 95px;*/
/*}*/
.mt15{
    margin-top: 15%;
}
.mt8{
    margin-top: 8%;
}
.mt28{
    margin-top: 28%;
}
.pro-rel{
    position: relative;
}
.text-center{
    text-align: center;
}
.landing{
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.landing-progress{
    width: 100%;
    position: relative;
    top: 33%;
}
.financial-page{
    width: 88%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.financial-page-3{
    width: 88%;
    height: 100%;
    position: absolute;;
    left: 6%;
    bottom: 0.5%;
    overflow: hidden;
}
.landing-ad{
    width: 70%;
    max-width: 300px;
    position: absolute;
    left: 15%;
    bottom: 10px;
}
.financial-ad{
    width: 45%;
    max-width: 300px;
    position: fixed;
    left: 0;
    top: 10px;
}
.financial-number-1{
    width: 300px;
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 62px;
    margin-left: -136px;
    color: #fff;
    text-shadow: 3px 5px 5px #e33411;
}
.financial-number-2{
    position: absolute;
    left: 17%;
    z-index: 102;
    font-size: 28px;
    color: #fff;
    text-shadow: 3px 5px 5px #e33411;
}
#active-number{
    top: 37%;
}
#rebate-number{
    top: 60%;
}
#getbao-number{
    top: 84%;
}
.financial-page-3-bg{
    position: absolute;
    bottom: 9%;
    z-index: 101;
}
.financial-share{
    width: 49%;
    height: 10%;
    border-radius: 50px;
    position: absolute;
    bottom: 6%;
    left: 27%;
    z-index: 105;
}
.financial-rule{
    width: 100%;
    height: 9.2%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    background: #ff534d;
    text-align: center;
    font-size: 12px;
    color: #fff;
    text-decoration: underline;
    line-height: 30px;
}
.financial-number-3{
    position: absolute;
    z-index: 102;
    font-size: 32px;
    color: #fff;
    text-shadow: 3px 5px 5px #e33411;
}
#income-number{
    left: 7%;
    bottom: 46%;
}
.win-number{
    bottom: 30%;
    left: 44%;
}
.mast{
    height: 30px;
    position: relative;
    top: 27%;
    text-align: center;
}
/*landing页进度条*/
.progress{
    width: 80%;
    height: 25px;
    position: absolute;
    left: 10%;
    bottom: 45%;
    background: #edeade;
    overflow: visible;
    border-radius: 20px;
    -webkit-box-shadow:  -1px 2px 2px #ddd inset;
    -moz-box-shadow: -1px 2px 2px #ddd inset;
    box-shadow: -1px 2px 2px #ddd inset;
}
.progress-bar{
    float: left;
    height: 100%;
    background-color: #ff4e49;
    border-radius: 20px;
    position: relative;

    -webkit-animation:  animate-positive 1s;
    -o-animation:  animate-positive 1s;
    animation:  animate-positive 1s;

    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);

    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.progress-bar.active{
    -webkit-animation: reverse progress-bar-stripes 0.30s linear infinite, animate-positive 0.5s;
    -o-animation: reverse progress-bar-stripes 0.30s linear infinite, animate-positive 0.5s;
    animation: reverse progress-bar-stripes 0.30s linear infinite, animate-positive 0.5s;
}
.progress-value{
    position: absolute;
    top: -40px;
    right: -10px;
    padding: 4px 8px;
    font-size: 14px;
    color: #666;
    border-radius: 4px;
    background: #fff;
}
.progress-value:after{
    content: "";
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -6px;
    left: 26%;
}
.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
@keyframes animate-positive{
    0% { width: 0; }
}
@-webkit-keyframes animate-positive{
    0% { width: 0; }
}
@-moz-keyframes animate-positive{
    0% { width: 0; }
}

@-webkit-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}
@-moz-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}
@-ms-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}
@-o-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}
/*页面下划下划效果*/
body, .onepage-wrapper, html {
    display: block;
    position: static;
    padding: 0;
    width: 100%;
    height: 100%;
}
.onepage-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.onepage-wrapper .section {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    left: 0;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
    overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -ms-transform: none !important;
    min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
    display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
    position: inherit;
}
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.img{
    display: block;
    height: 100%;
    margin: 0 auto;
}
.page{
    text-align: center;
}
@-webkit-keyframes upArrow {
    0%,30%{
        opacity: 0;
        transform: translate(0,10px);
        -webkit-transform: translate(0,10px);
    }
    60%{
        opacity: 1;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
    }
    100%{
        opacity: 0;
        transform: translate(0,-8px);
        -webkit-transform: translate(0,-8px);
    }
}
@keyframes upArrow {
    0%,30%{
        opacity: 0;
        transform: translate(0,10px);
        -webkit-transform: translate(0,10px);;
    }
    60%{
        opacity: 1;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
    }
    100%{
        opacity: 0;
        transform: translate(0,-8px);
        -webkit-transform: translate(0,-8px);
    }
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
/*页面样式*/
a,img,button,input,textarea,span,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}
.go-btn {
    opacity: 1;
    webkit-animation: upArrow 1.5s infinite ease-in-out;;
    -webkit-animation: upArrow 1.5s infinite ease-in-out;;
    -ms-animation: upArrow 1.5s infinite ease-in-out;;
    -moz-animation: upArrow 1.5s infinite ease-in-out;;
    -o-animation: upArrow 1.5s infinite ease-in-out;;
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: 20px;
    margin-left: -10px;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
}
