*{
    margin: 0;
    padding: 0;
}
body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    background-color: #fafeff;
    font-size: 14px;
    max-width: 750px;
    color: #666;
    margin: 0 auto;
}
a,a:hover,a:active{
    color: #666;
    text-decoration: none;
    -webkit-outline:none;
    -moz-outline:none;
    -ms-outline:none;
    -o-outline:none;
    outline:none;
}
a,img,button,input,textarea,span,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}
.f-l {
    float: left;
    display: inline;
}

.f-r {
    float: right;
    display: inline;
}

.clearfloat:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
}

.clearfloat {
    zoom: 1;
}
.w7{
    width: 7%;
}
.w35{
    width: 35%;
}
.w50{
    width: 50%;
}

.w65{
    width: 65%;
}
.w80{
    width: 80%;
}
.w93{
    width: 93%;
}
.w60{
    width: 60%;
}
.w75{
    width: 75%;
}
.w100{
    width: 100%;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mt60{
    margin-top: 60px;
}
.mr10{
    margin-right: 10px;
}
.mr50{
    margin-right: 50px;
}
.mr90{
    margin-right: 90px;
}
.mb5{
    margin-bottom: 5px;
}
.pdb10{
    padding-bottom: 10px;
}
.pdt15{
    padding-top: 15px;
}
.font12{
    font-size: 10px;
}
.h30{
    height: 30px;
}
.h35{
    height: 35px;
}
.h60{
    height: 60px;
}
.h75{
    height: 75px;
}
.brg{
    border-right: 1px solid #358e47;
}
.LH18{
    line-height: 18px;
}
.po-rel{
    position: relative;
}
.bg46b05b{
    background: #46b05b;
}
.bgeee{
    background: #eee;
}
.color999{
    color: #999;
}
.color6da6be{
    color: #6da6be;
}
.olypic-part{
    width: 90%;
    margin: 20px auto 0;
    letter-spacing: 1px;
}
.olypic-button{
    width: 60%;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    margin: 13px auto 0;
    border: 1px solid #138156;
    text-align: center;
    background: #34a579;
    color: #fff;
    letter-spacing: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.olypic-userSign{
    text-align:  center;
    color: #999;
    font-size: 12px;
    margin-top: 7px;
}
.olypic-date{
    border: 1px solid #b8d4e3;
    /*padding: 5px 15px 10px;*/
    background-color: #fffce3;
    color: #c1d2da;
    margin-top: 60px;
    position: relative;
    z-index: 1;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
.olypic-date-bg{
    width: 72%;
    position: absolute;
    top: -35px;
    left: 14%;
    z-index:2;
}
.olypic-date-user{
    width: 25%;
    position: absolute;
    top: -51px;
    left: 37%;
    z-index: 3;
    text-align: center;
}
.olypic-user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
}
.olypic-date-header{
    margin: 5px 15px 0;
    text-align: center;
    border-bottom: 1px solid #b8d4e3;
}
.olypic-date-tody{
    margin: 10px 0 10px;
    font-size: 16px;
}
.olypic-date-row{
    height: 20px;
    line-height: 20px;
    padding: 5px 30px 0;
}
.olypic-date-right{
    width: 15px;
    position: absolute;
    bottom: -20%;
    right: 13%;
}
.olypic-date-row>div{
    width: 14%;
    height: 20px;
    float: left;
    text-align: center;
    position: relative;
}
.olypic-data-dao{
    position: absolute;
    z-index: 4;
}
.olypic-question-rule{
    margin-top: 20px;
    text-align: justify;
    line-height: 24px;
}
.olypic-prize-header{
    background: #46b05b;
    border-bottom: #b8d4e3;
    text-align: center;
    height: 60px;
    color: #fff;
    font-size: 12px;
}
.olypic-prize-header-left{
    width: 24%;
    /*float: left;*/
    line-height: 60px;
    border-right: 1px solid #358e47;
}
.olypic-prize-header-right1{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #358e47;
    text-align: center;
}
.olypic-prize-header-right2>div{
    float: left;
    width: 24%;
    line-height: 24px;
    height: 24px;
}
.olypic-table{
    width: 100%;
    border-right: 1px solid #b8d4e3;
    background-color: #fffce3;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    border-spacing: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.olypic-table th{
    border: 1px solid #b8d4e3;
    border-right-width: 0;
    border-top-width: 0;
    color: #fafeff;
}
.olypic-table td{
    height: 55px;
    line-height: 18px;
    border: 1px solid #b8d4e3;
    border-right-width: 0;
    border-top-width: 0;
    color: #597c8c;
}
.olypic-table-line{
    width: 100%;
    height: 0;
    border-top: 1px solid #b8d4e3;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg); 	/* Opera */
}
.olypic-game{
    width: 100%;
    margin-top: 25px;
    background: #ff9019;
    border: 6px solid #ffcc19;
    border-left-width: 0;
    border-right-width: 0;
}
.olypic-game-list{
    padding: 0 5%;
    height: 38px;
    border-bottom: 1px solid #fca16a;
    color: #ffe3c6;
    font-size: 12px;
    line-height: 18px;
}
.olypic-game-people{
    width: 35px;
    margin-top: -27px;
}
.olypic-game-number-icon{
    width: 35px;
    border-left: 3px solid #fff;
    margin-top: 5px;
    padding-left: 15px;
}
.olypic-current-user{
    height: 70px;
}
.olypic-game-user{
    width: 35px;
    margin-left: 30%;
    padding-top: 7px;
}
.olypic-game-user-data{
    margin: 12px 0 0 20px;
    line-height: 18px;
    color: #ffe3c6;
}
.olypic-bg-balloon{
    width: 36%;
    position: absolute;
    right: -1%;
    top: -20px;
}
.olypic-active-rule{
    list-style-type: decimal;
    padding-left: 20px;
    line-height: 18px;
    text-align: justify;
    padding-bottom: 40px;
}
.olypic-block{
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align:  center;
    margin: 5px 0;
    padding-left: -20px;
    font-size: 12px;
}
.olypic-block th,td{
    height: 30px;
    border: 1px solid #ddd;
}
.mask{
    display: none;
    width: 100%;
    height: 1000px;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.dialog{
    width: 80%;
    left: 10%;
    max-width: 500px;
    background-color: #fff;
    position: absolute;
    z-index: 101;
    top: 200px;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.dialog-top{
    width: 150px;
    margin: 30px auto;
    line-height: 30px;
    text-align: center;
}
.dialog-con{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dialog-bottom{
    width: 270px;
    padding-bottom: 25px;
    margin: 0  auto;
    text-align: center;
}
.dialog-btn{
    display: inline-block;
    width: 120px;
    margin: 20px auto 0;
    background-color: #24b26f;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.dialog-close{
    width: 12%;
    max-width: 40px;
    position: absolute;
    right: -4%;
    top: -17px;
}
.dialog-con1{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 10px 0;
    line-height: 20px;

}
.dialog-icon2{
    padding: 30px 20px;
    text-align: center;
    line-height: 25px;
}
.dialog-checked{
    width: 21px;
    position: relative;
    top: 6px;
    padding: 0 7px 0 15px;
}
.dialog-mis-user{
    width: 50px;
    margin-right: 7px;
}