body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    color: #fff;
    margin: 0;
    background-color: #fff;
    font-size: 16px;
    max-width: 750px;
    color: #8d6640;
    margin: 0 auto;
}
a,img,button,input,textarea,span,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}
.clearfloat:after{
    display:block;
    clear:both;
    content:".";
    visibility:hidden;
    height:0;
}
.clearfloat{
    zoom:1;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}
.hao-con{
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
}
.hao-top{
    text-align: center;
    position: relative;
    margin-top: 50px;
}
.hao-cloud{
    position: absolute;
    width: 50px;
}
.hao-cloud1-1{
    left: 36%;
    top: 86%;
    width: 40px;
}
.hao-cloud1-2{
    left: 16%;
    top: 155%;
    width: 40px;
}
.hao-cloud2-1{
    right: 15%;
    top: 160%;
}
.hao-cloud2-2{
    right: 12%;
    top: 102%;
}
.hao-cloud3-1{
    left: 16%;
    top: -13%;
}
.hao-cloud3-2{
    left: 4%;
    top: 120%;
}
.hao-cloud3-3{
    right: 7%;
    top: 0%;
}
.hao-cloud4-1{
    width: 40px;
    top: 134%;
    right: 6%;
}
@keyframes cloudMove {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    50% {
        -webkit-transform: translate3d(-10px,5px,0);
        -moz-transform: translate3d(-10px,5px,0);
        -ms-transform: translate3d(-10px,5px,0);
        -o-transform: translate3d(-10px,5px,0);
        transform: translate3d(-10px,5px,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes cloudMove {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    50% {
        -webkit-transform: translate3d(-10px,5px,0);
        -moz-transform: translate3d(-10px,5px,0);
        -ms-transform: translate3d(-10px,5px,0);
        -o-transform: translate3d(-10px,5px,0);
        transform: translate3d(-10px,5px,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
.hao-cloud-icon{
    display: block;
    width: 100%;
    animation:cloudMove 4s infinite;
    -webkit-animation:cloudMove 4s infinite; /*Safari and Chrome*/
    position: relative;
}
.hao-cloud-icon1{
    display: block;
    width: 100%;
    animation:cloudMove 5s infinite;
    -webkit-animation:cloudMove 5s infinite; /*Safari and Chrome*/
    position: relative;
}
.hao-cloud-icon2{
    display: block;
    width: 100%;
    animation:cloudMove 6s infinite;
    -webkit-animation:cloudMove 6s infinite; /*Safari and Chrome*/
    position: relative;
}
@keyframes light {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes light{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.hao-light-icon1 {
    position: absolute;
    width: 6%;
    top: 63%;
    left: 42%;
    animation:light 1s infinite;
    -webkit-animation:light 1s infinite; /*Safari and Chrome*/
}
.hao-light-icon2 {
    position: absolute;
    width: 6%;
    top: 70%;
    left: 46%;
    animation:light 1.5s infinite;
    -webkit-animation:light 1.5s infinite; /*Safari and Chrome*/
}
.hao-light-icon3 {
    position: absolute;
    width: 6%;
    top: 63%;
    left: 49%;
    animation:light 2s infinite;
    -webkit-animation:light 2s infinite; /*Safari and Chrome*/
}
.hao-light-icon4 {
    position: absolute;
    width: 5%;
    top: 70%;
    left: 55%;
    animation:light 2.5s infinite;
    -webkit-animation:light 2.5s infinite; /*Safari and Chrome*/
}
.hao-light-icon5 {
    position: absolute;
    width: 6%;
    top: 63%;
    left: 55%;
    animation:light 3s infinite;
    -webkit-animation:light 3s infinite; /*Safari and Chrome*/
}
.hao-light-icon6 {
    position: absolute;
    width: 4%;
    top: 58%;
    left: 62%;
    animation:light 3s infinite;
    -webkit-animation:light 3s infinite; /*Safari and Chrome*/
}
.hao-light{
    position: absolute;
    width: 24%;
    top: 58%;
    left: 42%;
}

.hao-long-bg{
    display: block;
    width: 80%;
    margin-left: 4%;
}
@keyframes longhand {
    0% {
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        transform: rotate(3deg);
    }
}
@-webkit-keyframes longhand{
    0% {
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        transform: rotate(3deg);
    }
}
.hao-long-hand{
    width: 48%;
    position: absolute;
    top: 17%;
    left: 30%;
}
.hao-long-hand-animate{
    animation:longhand 1.5s infinite;
    -webkit-animation:longhand 1.5s infinite; /*Safari and Chrome*/
}
@keyframes personhand {
    0% {
        top: 47%;
    }
    50% {
        top: 37%;
    }
    100% {
        top: 47%;
    }
}
@-webkit-keyframes personhand{
    0% {
        top: 47%;
    }
    50% {
        top: 37%;
    }
    100% {
        top: 47%;
    }
}
.hao-person-normal{
    width: 45%;
    position: absolute;
    right: -21%;
    top: 32%;
    animation:personhand 1.5s infinite;
    -webkit-animation:personhand 1.5s infinite; /*Safari and Chrome*/
}
@keyframes longeye {
    0% {
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        transform: rotate(25deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        transform: rotate(25deg);
    }
}
@-webkit-keyframes longeye{
    0% {
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        transform: rotate(25deg);


    }
    50% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);

    }
    100% {
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        transform: rotate(25deg);

    }
}

.hao-long-eye-b{
    position: absolute;
    width: 7%;
    top: 18%;
    left: 50%;
    animation:longeye 1.5s infinite;
    -webkit-animation:longeye 1.5s infinite; /*Safari and Chrome*/
}
.hao-long-eye-s{
    position: absolute;
    width: 7%;
    top: 18%;
    left: 59%;
    animation:longeye 1.5s infinite;
    -webkit-animation:longeye 1.5s infinite; /*Safari and Chrome*/
}
.hao-long-eye-catch{
    position: absolute;
    width: 19%;
    left: 47%;
    top: 15%;
    display: none;
}
@keyframes personhandcatch {
    0% {
        right: -31%;

    }
    100% {
        right: 0;

    }

}
@-webkit-keyframes personhandcatch{
    0% {
        right: -31%;

    }
    100% {
        right: 0;
    }
}
.hao-person-normal-cathch{
    width: 45%;
    position: absolute;
    right: 0;
    top: 51%;
    display: none;
}
.hao-person-normal-cathch-animate{
    animation:personhandcatch ease-in 0.75s 1;
    -webkit-animation:personhandcatch ease-in 0.75s 1; /*Safari and Chrome*/
}
.hao-person-catch{
    width: 45%;
    position: absolute;
    right: 0%;
    top: 51%;
    display: none;
}
.hao-btn{
    text-align: center;
    padding-top: 50px;
}
.hao-btn-icon{
    width: 36%;
    -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
}
.hao-btn-catch{
    display: none;
}
.hao-rule-title{
    height: 30px;
    line-height: 30px;
    text-align: center;

}
.hao-rule-link{
    color: #7e9bd9;
    text-decoration: none;

}
.hao-rule{
    padding: 30px;
    line-height: 25px;
}
.hao-rule-li{
    padding-bottom: 15px;
}
.arrow-icon{
    display: inline-block;
    width: 5px;
    height: 20px;
    position: relative;
    top: 2px;
}
.arrow-icon:after, .arrow-icon:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    left: 100%;
    position: absolute;
    width: 0;
}
.arrow-icon:after {
    border-width: 6px;
    border-left-color: #fff;
    top: 6px;
}
.arrow-icon:before {
    border-width: 8px;
    border-left-color: #7e9bd9;
    top: 4px;
}
.hao-rule-section{
}
.hao-rule-name{
    padding-bottom: 10px;
}
.mask {
    display: none;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
}
.dialog{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
}
.dialog-top{
    position: relative;
    width: 150px;
    margin: 0 auto;
    height: 60px;
}
.gift-icon{
    position: absolute;
    left: 0;
    top: -4px;
    width: 120px;
}
.dialog-top-txt{
    position: absolute;
    width: 100px;
    top: 36px;
    left: 80px;
    color: #666;
    font-size: 18px;
}
.dialog-con{
    color: #ff744b;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dialog-con2{
    color: #666;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.dialog-bottom{
    width: 270px;
    padding: 10px 0;
    text-align: center;
    margin: 0  auto;
}
.dialog-btn{
    display: inline-block;
    width: 120px;
    margin: 0 auto;
    background-color:#16b473;
    height: 40px;
    line-height: 40px;
    border: 2px solid #16b473;
    color:#fff;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
}
.dialog-btn2{
    display: inline-block;
    width: 120px;
    margin: 0 auto;
    background-color:#fff;
    height: 40px;
    line-height: 40px;
    border: 2px solid #16b473;
    color:#16b473;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
}
.w50{
    width: 50%;
}
.ml20{
    margin-left: 20px;
}
.hao-ad{
    width: 195px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -97px;
}
.fz14{
    font-size: 14px;
}
.hao-rule-ad{
    width: 180px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 12px;
}
.hao-rule-ad-border{
    border: 1px solid #8d6640;
    padding: 0 5px;
    border-radius: 3px;
    margin-right: 10px;
}