/*样式重置*/
* {
    border: none;
}
div {
    display: block;
}
body {
    font-family: '微软雅黑',YaHei,tahoma,arial;
    color: #666;
    margin: 0;
}
header {
    font-size: 18px;
    letter-spacing: 2px;
}
section {
    background-color: #F2F2F2;
    min-height: 400px;
    height: auto!important;
    overflow: visible;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code,datalist, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, source, span, strike, strong, sub, sup, table, tbody, tfoot, th, thead, tr, tt, u, ul, var {
    background: 0 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}
embed, img {
    vertical-align: top;
}
.w13{
    width: 13%;
}
.w100 {
    width: 100%;
}

.w90 {
    width: 90%;
}
.pb5{
    padding-bottom: 5px;
}
.pdt15{
    padding-top: 15px;
}
.pl5{
    padding-left: 5px;
}
.mt34{
    margin-top: 34px;
}
.mt35{
    margin-top: 35px;
}
.ml5w{
    margin-left: 5%;
}
.ml8_{
    margin-left: -8px;
}
.f-l {
    float: left;
    display: inline;
}

.f-r {
    float: right;
    display: inline;
}

.clearfloat:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
}

.clearfloat {
    zoom: 1;
}

.center {
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.color-red{
    color: rgb(228,34,30);
}
.color-brown{
    color: rgb(147,42,0);
}

/*压面样式*/
.shareBao {
    width: 100%;

    background: rgb(253, 248, 237);
    color: rgb(120,78,57);
    padding-bottom: 120px;
    letter-spacing: 2px;
    font-size: 14px;
}

.shareBao-block1 {
    height: 80px;
    border: 1px solid rgb(183, 153, 121);
    border-bottom-style: none;
    -webkit-border-radius: 5px 5px 0 0 ;
    -moz-border-radius: 5px 5px 0 0 ;
    border-radius: 5px 5px 0 0;
    background: #fff;
}
.shareBao-phone1{
    height: 40px;
    padding-top: 19px;
    padding-left: 10px;
    float: left;
}
.shareBao-input{
    width: 60%;
    height: 40px;
    float: left;
    line-height: 40px;
    margin-top: 20px;
    padding: 0 35px 0 15px;
    font-size: 18px;
    outline: none;
    color: rgb(97,20,17);
}
.shareBao-button{
    height: 55px;
    line-height: 55px;
    letter-spacing: 5px;
    text-align: center;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.shareBao-button.unchecked{
    background: rgb(142,186,112);
    color: rgb(244,255,187);
}
.shareBao-button.checked{
    background: rgb(129,165,58);
    color: rgb(241,254,183);
}
ul.shareBao-rule{
    width : 95%;
    padding-left: 5%;
    line-height: 24px;
    text-align: justify;
    list-style-type: decimal;
    letter-spacing: 1px;
}
.shareBao-block2{
    height: 80px;
    border: 1px solid rgb(183, 153, 121);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}
.shareBao-phone2{
    width: 45px;
    margin-left: 21%;
    padding-top: 17px;
}
.shareBao-note1{
    color: rgb(188,55,49);
    font-size: 16px;
    padding: 0 6% 0 5%;
}
.shareBao-money{
    color: rgb(228,34,30);
    font-size: 30px;
    margin-top: 19px;
    padding-left: 5px;
}
.shareBao-download{
    display: inline-block;
    width: 60%;
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
    background: rgb(129,165,58);
    color: rgb(241,254,183);
    border: 1px solid rgb(74,114,4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 0;
    box-shadow: 1px 4px 2px rgb(87,120,0);
}
.shareBao-finished{
    width: 90%;
    margin: 30px auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}
.overdue-redBao{
    width: 35px;
    margin-left: 5px;
    margin-right: 3px;
}
.konw-longdai{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #647fba;
    margin-top: 20px;
}
.fz12{
    font-size: 12px;
}